<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HereEvent-Admin</title>
    <!-- CSS File -->
    <link href="/hereevent/common/css/admin.css" rel="stylesheet">
    <!-- JS File -->
    <script type="text/javascript" src="/hereevent/common/js/chart.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> <!-- google chart -->

</head>
<body>
<main layout:fragment="main" class="main">

    <!-- Page Title -->
    <div class="page-title">
        <div class="container">
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="/hereevent/main">Home</a></li>
                    <li class="current">관리</li>
                </ol>
            </nav>
            <h1>관리</h1>
        </div>
    </div><!-- End Page Title -->

    <!-- Starter Section -->
    <section id="starter-section" class="starter-section section">
        <div class="container d-flex">
            <div class="menu col-2">
                <h3 class="pb-2">관리 메뉴</h3>
                <h4 class="py-1"><a href="/hereevent/admin/event">이벤트 관리</a></h4>
                <h4 class="py-1"><a href="/hereevent/admin/member">회원 관리</a></h4>
                <h4 class="py-1"><a href="/hereevent/admin/review">후기 관리</a></h4>
                <h4 class="py-1"><a href="/hereevent/crawling">크롤링</a></h4>
            </div>
            <div class="chart col-10">
                <div class="row justify-content-evenly">
                    <div id="start_end_chart">
                        <!--날짜별 시작/종료 이벤트 수-->
                    </div>
                    <div id="category_rate_chart">
                        <!--이벤트 카테고리 비율-->
                    </div>
                </div>
                <div class="row justify-content-evenly">
                    <div id="new_member_chart">
                        <!--날짜별 신규 회원 가입 수-->
                    </div>
                    <div id="top_event_chart">
                        <!--예약/대기 상위 이벤트-->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script th:inline="javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawStartEndEvent);
        google.charts.setOnLoadCallback(drawCategoryRate);
        google.charts.setOnLoadCallback(drawNewMember);
        google.charts.setOnLoadCallback(drawTopEvent);

        /*날짜별 시작/종료 이벤트 수*/
        function drawStartEndEvent() {
            let eventList = [[${eventList}]];
            let data = new google.visualization.DataTable();
            data.addColumn('string', '날짜');
            data.addColumn('number', '시작');
            data.addColumn('number', '종료');

            for (let event of eventList) {
                data.addRows([
                    [event.date, event.start_cnt, event.end_cnt]
                ]);
            }

            let options = {
                title: '날짜별 시작/종료 이벤트 수',
                colors: ['#9575cd', '#33ac71'],
                height: 350,
            };

            let chart = new google.visualization.ColumnChart(document.getElementById('start_end_chart'));
            chart.draw(data, options);
        }

        /*이벤트 카테고리 비율*/
        function drawCategoryRate() {
            let categoryList = [[${categoryList}]];
            let data = new google.visualization.DataTable();
            data.addColumn('string', '카테고리');
            data.addColumn('number', '개수');

            for (let category of categoryList) {
                data.addRows([
                    [category.name, category.cnt]
                ]);
            }

            let options = {
                title: '이벤트 카테고리 비율',
                pieHole: 0.4,
                height: 350,
            };

            let chart = new google.visualization.PieChart(document.getElementById('category_rate_chart'));
            chart.draw(data, options);
        }

        /*날짜별 신규 회원 가입 수*/
        function drawNewMember() {
            let memberList = [[${memberList}]];
            let data = new google.visualization.DataTable();
            data.addColumn('string', '날짜');
            data.addColumn('number', '회원');

            for(let member of memberList) {
                data.addRows([
                    [member.date, member.cnt]
                ]);
            }

            let options = {
                title: '날짜별 신규 회원 가입 수',
                height: 350,
                pointSize: 5,
            };

            let chart = new google.visualization.LineChart(document.getElementById('new_member_chart'));

            chart.draw(data, options);
        }

        /*예약/대기 상위 이벤트*/
        function drawTopEvent() {
            let reserveList = [[${reserveList}]];
            let waitList = [[${waitList}]];
            if(reserveList.length < 5){
                for(let i=reserveList.length; i<5; i++){
                    reserveList[i] = {cnt: 0, name: null};
                }
            }
            if(waitList.length < 5){
                for(let i=waitList.length; i<5; i++){
                    waitList[i] = {cnt: 0, name: null};
                }
            }

            let data = new google.visualization.DataTable();
            data.addColumn('string', '순위');
            data.addColumn('number', '예약');
            data.addColumn('number', '대기');

            for(let i=0; i<5; i++) {
                data.addRows([
                    [(i+1)+"등", {v: reserveList[i].cnt, f: reserveList[i].name}, {v: waitList[i].cnt, f: waitList[i].name}]
                ]);
            }

            let options = {
                title: '예약/대기 상위 이벤트',
                chartArea: {width: '50%'},
                height: 350,
            };

            let chart = new google.visualization.BarChart(document.getElementById('top_event_chart'));
            chart.draw(data, options);
        }
    </script>

</main>
</body>
</html>