<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HereEvent-Admin</title>
    <!-- CSS File -->
    <link href="/hereevent/common/css/admin.css" rel="stylesheet">
    <link href="/hereevent/common/css/starRate.css" rel="stylesheet">
    <!-- js File -->
    <script type="text/javascript" src="/hereevent/common/js/starRate.js"></script>
    <script type="text/javascript" src="/hereevent/common/js/admin.js"></script>
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function() {
            pageBtn([[${totalPages}]], [[${pageNumber}]], [[${totalElements}]]);

            // 상세보기 버튼
            $('.review-detail-btn').each(function(){
                $(this).click(function(){
                    let reviewNo = $(this).val();
                    if($(this).hasClass('active')){
                        $('#'+reviewNo).hide();
                        $(this).removeClass('active');
                        $(this).addClass('default');
                        $(this).text('상세보기');
                    }else if($(this).hasClass('default')){
                        $('#'+reviewNo).show();
                        $(this).removeClass('default');
                        $(this).addClass('active');
                        $(this).text('닫기');
                    }
                });
            });
            $("#deleteOne").click(function () {
                    if (confirm("후기를 삭제하시겠습니까?") === true) {
                        let form = document.createElement("form");
                        let obj = document.createElement("input");
                        obj.setAttribute("type", "hidden");
                        obj.setAttribute("name", "review_no");
                        obj.setAttribute("value", $(this).val());

                        form.appendChild(obj);
                        form.setAttribute("method", "post");
                        form.setAttribute("action", "/hereevent/admin/review/delete");
                        document.body.appendChild(form);
                        form.submit();
                    }
                });
        });
    </script>
</head>
<body>
<main layout:fragment="main" class="main">

    <!-- Page Title -->
    <div class="page-title">
        <div class="container">
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="/hereevent/main">Home</a></li>
                    <li><a href="/hereevent/admin">관리</a></li>
                    <li class="current">후기</li>
                </ol>
            </nav>
            <h1>후기</h1>
        </div>
    </div><!-- End Page Title -->

    <!-- Review Section -->
    <section id="review-section" class="section">

        <div class="container review-container">

            <div class="d-flex align-items-center justify-content-between review-search">
                <button type="button" class="btn btn-primary">선택 삭제</button>
                <div class="search-widget">
                    <form action="/hereevent/admin/review" method="get" class="d-flex justify-content-start">
                        <select name="type">
                            <option value="all" th:selected="${type == 'all'}">--</option>
                            <option value="event" th:selected="${type == 'event'}">이벤트</option>
                            <option value="nick" th:selected="${type == 'nick'}">닉네임</option>
                            <option value="category" th:selected="${type == 'category'}">카테고리</option>
                            <option value="write_date" th:selected="${type == 'write_date'}">작성일</option>
                        </select>
                        <input type="text" name="keyword" placeholder="검색어를 입력하세요" th:if="${keyword == null}">
                        <input type="text" name="keyword" placeholder="검색어를 입력하세요" th:unless="${keyword == null}" th:value="${keyword}">
                        <button type="submit"><i class="bi bi-search"></i></button>
                    </form>
                </div>
            </div>

            <div class="review-table container">
                <div class="row align-items-center text-center table-title">
                    <div class="select">
                        <input type="checkbox" name="select-all" onclick="selectAll(this)">
                    </div>
                    <div class="event-img">사진</div>
                    <div class="event-name">이벤트명</div>
                    <div class="writer">작성자</div>
                    <div class="star">별점</div>
                    <div class="write-date">작성일</div>
                    <div class="update-date">수정일</div>
                    <div class="show-detail">상세보기</div>
                </div>

                <div class="table-row" th:each="review : ${reviewList}">

                    <!-- 이벤트 정보, 후기 작성 정보 -->
                    <div class="row align-items-center">
                        <div class="select text-center">
                            <input type="checkbox" name="select" th:value="${review.review_no}" onclick="checkSelectAll()">
                        </div>
                        <div class="event-img text-center event-image">
                            <a th:href="|@{/event/}${review.event_no}|">
                                <img th:src="|@{/download/event/}${review.img_path}|" th:alt="${review.img_path}"></a>
                        </div>
                        <div class="event-name">
                            <a th:href="|@{/event/}${review.event_no}|">
                                [[${review.name}]]</a>
                        </div>
                        <div class="writer text-center" th:text="${review.nick}"></div>
                        <div class="star">
                            <div class="justify-content-center rating readonly">
                                <label class="rating-label rating-label-half">
                                    <input type="radio" class="rating-input" th:name="${review.review_no}"
                                           th:checked="${review.star == 0.5} ? true : false">
                                    <span class="star-icon"></span>
                                </label>
                                <label class="rating-label rating-label-full">
                                    <input type="radio" class="rating-input" th:name="${review.review_no}"
                                           th:checked="${review.star == 1.0} ? true : false">
                                    <span class="star-icon"></span>
                                </label>
                                <label class="rating-label rating-label-half">
                                    <input type="radio" class="rating-input" th:name="${review.review_no}"
                                           th:checked="${review.star == 1.5} ? true : false">
                                    <span class="star-icon"></span>
                                </label>
                                <label class="rating-label rating-label-full">
                                    <input type="radio" class="rating-input" th:name="${review.review_no}"
                                           th:checked="${review.star == 2.0} ? true : false">
                                    <span class="star-icon"></span>
                                </label>
                                <label class="rating-label rating-label-half">
                                    <input type="radio" class="rating-input" th:name="${review.review_no}"
                                           th:checked="${review.star == 2.5} ? true : false">
                                    <span class="star-icon"></span>
                                </label>
                                <label class="rating-label rating-label-full">
                                    <input type="radio" class="rating-input" th:name="${review.review_no}"
                                           th:checked="${review.star == 3.0} ? true : false">
                                    <span class="star-icon"></span>
                                </label>
                                <label class="rating-label rating-label-half">
                                    <input type="radio" class="rating-input" th:name="${review.review_no}"
                                           th:checked="${review.star == 3.5} ? true : false">
                                    <span class="star-icon"></span>
                                </label>
                                <label class="rating-label rating-label-full">
                                    <input type="radio" class="rating-input" th:name="${review.review_no}"
                                           th:checked="${review.star == 4.0} ? true : false">
                                    <span class="star-icon"></span>
                                </label>
                                <label class="rating-label rating-label-half">
                                    <input type="radio" class="rating-input" th:name="${review.review_no}"
                                           th:checked="${review.star == 4.5} ? true : false">
                                    <span class="star-icon"></span>
                                </label>
                                <label class="rating-label rating-label-full">
                                    <input type="radio" class="rating-input" th:name="${review.review_no}"
                                           th:checked="${review.star == 5.0} ? true : false">
                                    <span class="star-icon"></span>
                                </label>
                            </div>
                        </div>
                        <div class="write-date text-center" th:text="${review.write_date}"></div>
                        <div class="update-date text-center" th:text="${review.update_date}"></div>
                        <div class="show-detail text-center">
                            <!-- 후기 상세보기 버튼 -->
                            <button type="button" class="review-detail-btn btn btn-secondary default" th:value="${review.review_no}">상세보기</button>
                        </div>
                    </div>

                    <!-- 후기 이미지, 내용 -->
                    <div class="review-detail container" th:id="${review.review_no}" style="display: none">
                        <div class="review-img row justify-content-center" th:if="${review.review_imgs.size() != 0}">
                            <label>후기 사진</label>
                            <div>
                                <img th:each="image : ${review.review_imgs}"
                                     th:src="|@{/download/review/}${image.img_path}|" th:alt="${image.img_path}">
                            </div>
                        </div>
                        <div class="review-content row">
                            <label>후기 내용</label>
                            <p th:text="${review.content}"></p>
                        </div>
                        <div class="review-btn text-end">
                            <button type="button" id="deleteOne" class="btn btn-primary" th:value="${review.review_no}">삭제</button>
                        </div>
                    </div>

                </div>

            </div>

            <!-- 페이지네이션-->
            <nav>
                <ul class="pagination justify-content-center">

                </ul>
            </nav>

        </div>

    </section><!-- End Review Section -->

</main>
</body>
</html>