<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title>HereEvent-Admin</title>
    <link href="/hereevent/common/css/memberUpdate.css" rel="stylesheet">
</head>
<body>
<main layout:fragment="main" class="main">
    <!-- Page Title -->
    <div class="page-title">
        <div class="container">
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="/hereevent/main">Home</a></li>
                    <li><a href="/hereevent/admin">관리</a></li>
                    <li><a href="/hereevent/admin/member">회원</a></li>
                    <li class="current">수정</li>
                </ol>
            </nav>
            <h1>회원 수정</h1>
        </div>
    </div>
    <!-- End Page Title -->

    <!-- Section Title -->
    <form class="form-container" action="/hereevent/admin/member/update" method="post" enctype="multipart/form-data">
        <input class="form-input" type="hidden" id="member_no" name="member_no" th:value="${editMember.member_no}">
        <label class="form-label" for="email">*이메일:</label>
        <input class="form-input" type="text" id="email" name="email" th:value="${editMember.email}" required >

        <label class="form-label" for="pass">*비밀번호:</label>
        <input class="form-input" type="password" id="pass" name="pass" th:value="${editMember.pass}" required >

        <label class="form-label" for="name">*이름:</label>
        <input class="form-input" type="text" id="name" name="name" th:value="${editMember.name}" required >

        <label class="form-label" for="nick">*닉:</label>
        <input class="form-input" type="text" id="nick" name="nick" th:value="${editMember.nick}" required >

        <label class="form-label" for="tel">*전화번호:</label>
        <input class="form-input" type="text" id="tel" name="tel" th:value="${editMember.tel}" required >

        <label class="form-label" for="birth">생일:</label>
        <input class="form-input" type="date" id="birth" name="birth" th:value="${editMember.birth}" onchange="updateDateRange()">




        <div id="profile-img">
            <img th:if="${editMember.img_path == null}"
                 th:src="@{/images/default_img.png}" alt="default_profile">
            <img th:unless="${editMember.img_path == null}"
                 th:src="|@{/download/profile/}${editMember.img_path}|">
            <input type="hidden" name="img_path" th:value="${editMember.img_path}">
        </div>

        <label class="form-label" for="image">프로필사진:</label>
        <input class="form-input" type="file" id="image" name="profile_img" accept="image/*">

        <label class="form-label">*관리자:</label>
        <div class="radio-group">
            <input type="radio" id="0" name="mgr" value="0" th:checked="${editMember.mgr == 0} ? true : false" required>
            <label class="form-label" for="0">일반회원</label>
            <input type="radio" id="1" name="mgr" value="1" th:checked="${editMember.mgr == 1} ? true : false" required>
            <label class="form-label" for="1">매니저</label>
        </div>

        <div id="btn-box">
            <button class="btn btn-primary" type="submit">회원 정보 수정</button>
            <button class="btn btn-secondary" type="button"
                    onclick="location.href='/hereevent/admin/member'">취소</button>
        </div>

    </form>
</main>
</body>
</html>