<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/hereevent/common/css/cardList.css" rel="stylesheet">
</head>
<body>
    <h1>Search Results</h1>
    <main layout:fragment="main" class="main">
        <!-- Page Title -->
        <div class="page-title">
            <div class="container">
                <nav class="breadcrumbs">
                    <ol>
                        <li><a href="#">Home</a></li>
                        <li class="current">검색</li>
                    </ol>
                </nav>
                <h1>'[[${keyword}]]'의 검색 결과</h1>
            </div>
        </div><!-- End Page Title -->
        <div id="list-box" class="event-list container">
            <div th:each="event : ${events}" class="card" style="width: 18rem;">
                <img th:if="${event.img_path == null}"
                     th:src="@{/images/default_img.png}" class="card-img-top" alt="default_img">
                <img th:unless="${event.img_path == null}"
                     th:src="@{/download/event/{img_path}(img_path=${event.img_path})}" class="card-img-top" th:alt="${event.img_path}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${event.name}"></h5>

                    <div class="event-type">
                        <span th:if="${event.type == 'reserve' or event.type == 'both'}">사전예약</span>
                        <span th:if="${event.type == 'wait' or event.type == 'both'}">현장대기</span>
                    </div>

                    <div class="card-text"><span th:text="${event.start_date}"/> ~ <span th:text="${event.end_date}"/></div>
                    <div class="card-text" th:text="${event.addr}"></div>
                    <div class="card-btn">
                        <a th:href="@{/event/{event_no}(event_no=${event.event_no})}" class="btn btn-primary">상세보기</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
<!--    <a href="/search">Back to search</a>-->
</body>
</html>