<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>카테고리별 조회</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
    </style>
</head>
<body>
<main layout:fragment="main" class="main">
    <div class="container">
        <!-- 새로운 row를 시작 -->
        <div th:each="event, iterStat : ${eventlist}">
            <div class="row" th:if="${iterStat.index % 4 == 0}">
                <div class="col-md-3 event-card">
                    <a th:href="@{/event/{eventNo}(eventNo=${event.event_no})}">
                        <img th:src="|@{/download/event/}${event.img_path}|" alt="Event Image">
                    </a>
                    <h5 th:text="${event.name}">Event Name</h5>
                    <p>기간: <span th:text="${event.start_date}">Start Date</span> ~ <span th:text="${event.end_date}">End Date</span></p>
                </div>
                <div th:if="${iterStat.index + 1 % 4 == 0}"></div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
