<!DOCTYPE html>
<html  lang="ko" xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layout/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title>HereEvent-Admin</title>
    <link href="/hereevent/common/css/insertEvent.css" rel="stylesheet">
    <link href="/hereevent/common/css/admin.css" rel="stylesheet">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script type="text/javascript" src="/hereevent/common/js/findAddr.js"></script>
    <script>
        function updateDateRange() {
            const startDate = document.getElementById('start_date').value;
            const endDate = document.getElementById('end_date').value;
            const dateRange = document.getElementById('dateRange');
            if (start_date && end_date) {
                dateRange.textContent = `운영기간: ${startDate} ~ ${endDate}`;
            } else {
                dateRange.textContent = '';
            }
        }
    </script>
</head>
<body>
<main layout:fragment="main" class="main">
    <!-- Page Title -->
    <div class="page-title">
        <div class="container">
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="/hereevent/main">Home</a></li>
                    <li><a href="/hereevent/admin">관리</a></li>
                    <li><a href="/hereevent/admin/event">이벤트</a></li>
                    <li class="current">수정</li>
                </ol>
            </nav>
            <h1>이벤트 수정</h1>
        </div>
    </div>
    <!-- End Page Title -->
    <form class="form-container" action="/hereevent/admin/event/update" method="post" enctype="multipart/form-data">
        <label class="form-label" for="category">*카테고리:</label>
        <select class="form-select" id="category" name="category_no">
            <!-- DB에서 카테고리 목록을 가져와서 option으로 지정 -->
            <option th:each="category : ${categoryList}" th:value="${category.category_no}" th:text="${category.name}"
                    th:selected="${category.category_no}==${event.category_no}"></option>
            <!-- 예시: 실제 데이터는 서버에서 동적으로 추가 -->
        </select>
        <input class="form-input" type="hidden" id="event_no" name="event_no" th:value="${event.event_no}">
        <label class="form-label" for="name">*이벤트명:</label>
        <input class="form-input" type="text" id="name" name="name" th:value="${event.name}" required >

        <label class="form-label" for="start_date">*시작 날짜:</label>
        <input class="form-input" type="date" id="start_date" name="start_date" th:value="${event.start_date}" required onchange="updateDateRange()">

        <label class="form-label" for="end_date">*종료 날짜:</label>
        <input class="form-input" type="date" id="end_date" name="end_date" th:value="${event.end_date}" required onchange="updateDateRange()">

        <p id="dateRange" class="date-range"></p>
        <label class="form-label">*이벤트 시간:</label>
        <label class="form-label">월요일:</label>
        <input type="hidden" th:value="월" name="event_time">
        <select id="mon_start" name="event_time">
            <option>휴무</option>
            <option th:each="hour : ${hours}" th:value="${hour}" th:text="${hour}"
                    th:selected="${hour} == ${openTimes[0]}"></option>
        </select>
        ~
        <select id="mon_end" name="event_time">
            <option>휴무</option>
            <option th:each="hour : ${hours}" th:value="${hour}" th:text="${hour}"
                    th:selected="${hour} == ${closeTimes[0]}"></option>
        </select><br>
        <input type="hidden" th:value="화" name="event_time">
        <label class="form-label">화요일:</label>
        <select id="tue_start" name="event_time">
            <option>휴무</option>
            <option th:each="hour : ${hours}" th:value="${hour}" th:text="${hour}"
                    th:selected="${hour} == ${openTimes[1]}"></option>
        </select>
        ~
        <select id="tue_end" name="event_time">
            <option>휴무</option>
            <option th:each="hour : ${hours}" th:value="${hour}" th:text="${hour}"
                    th:selected="${hour} == ${closeTimes[1]}"></option>
        </select><br>
        <input type="hidden" th:value="수" name="event_time">
        <label class="form-label">수요일:</label>
        <select id="wed_start" name="event_time">
            <option>휴무</option>
            <option th:each="hour : ${hours}" th:value="${hour}" th:text="${hour}"
                    th:selected="${hour} == ${openTimes[2]}"></option>
        </select>
        ~
        <select id="wed_end" name="event_time">
            <option>휴무</option>
            <option th:each="hour : ${hours}" th:value="${hour}" th:text="${hour}"
                    th:selected="${hour} == ${closeTimes[2]}"></option>
        </select><br>
        <input type="hidden" th:value="목" name="event_time">
        <label class="form-label">목요일:</label>
        <select id="thu_start" name="event_time">
            <option>휴무</option>
            <option th:each="hour : ${hours}" th:value="${hour}" th:text="${hour}"
                    th:selected="${hour} == ${openTimes[3]}"></option>
        </select>
        ~
        <select id="thu_end" name="event_time">
            <option>휴무</option>
            <option th:each="hour : ${hours}" th:value="${hour}" th:text="${hour}"
                    th:selected="${hour} == ${closeTimes[3]}"></option>
        </select><br>
        <input type="hidden" th:value="금" name="event_time">
        <label class="form-label">금요일:</label>
        <select id="fri_start" name="event_time">
            <option>휴무</option>
            <option th:each="hour : ${hours}" th:value="${hour}" th:text="${hour}"
                    th:selected="${hour} == ${openTimes[4]}"></option>
        </select>
        ~
        <select id="fri_end" name="event_time">
            <option>휴무</option>
            <option th:each="hour : ${hours}" th:value="${hour}" th:text="${hour}"
                    th:selected="${hour} == ${closeTimes[4]}"></option>
        </select><br>
        <input type="hidden" th:value="토" name="event_time">
        <label class="form-label">토요일:</label>
        <select id="sat_start" name="event_time">
            <option>휴무</option>
            <option th:each="hour : ${hours}" th:value="${hour}" th:text="${hour}"
                    th:selected="${hour} == ${openTimes[5]}"></option>
        </select>
        ~
        <select id="sat_end" name="event_time">
            <option>휴무</option>
            <option th:each="hour : ${hours}" th:value="${hour}" th:text="${hour}"
                    th:selected="${hour} == ${closeTimes[5]}"></option>
        </select><br>
        <input type="hidden" th:value="일" name="event_time">
        <label class="form-label">일요일:</label>
        <select id="sun_start" name="event_time">
            <option>휴무</option>
            <option th:each="hour : ${hours}" th:value="${hour}" th:text="${hour}"
                    th:selected="${hour} == ${openTimes[6]}"></option>
        </select>
        ~
        <select id="sun_end" name="event_time">
            <option>휴무</option>
            <option th:each="hour : ${hours}" th:value="${hour}" th:text="${hour}"
                    th:selected="${hour} == ${closeTimes[6]}"></option>
        </select><br>
        <div class="addr-place">
            <label class="form-label" for="address">*주소:</label>
            <input type="button" onclick="sample6_execDaumPostcode()" value="주소 찾기"><br>
        </div>
        <input class="form-input-addr" type="text" id="postcode"  name="postcode" placeholder="우편번호">
        <input class="form-input-addr" type="text" id="address" name="addr" placeholder="주소" th:value="${event.addr}" required><br>
        <input  class="form-input-addr" type="text" id="detailAddress" name="detailAddress" placeholder="상세주소">
        <input  class="form-input-addr" type="text" id="extraAddress"  name="extraAddress" placeholder="참고항목">

        <label class="form-label" for="info">*상세 정보: (최대 1000자)</label>
        <textarea class="form-textarea" id="info" name="info" maxlength="1000" rows="10" th:text="${event.info}" required></textarea>
        <span class="textarea-info">최대 1000자까지 입력 가능합니다.</span>

        <label class="form-label" for="homepage" >홈페이지 주소:</label>
        <input class="form-input" type="text" id="homepage" name="homepage" th:value="${event.homepage}">

        <label class="form-label" for="sns" th:value="${event.sns}">SNS 주소:</label>
        <input class="form-input" type="text" id="sns" name="sns" th:value="${event.homepage}">
        <div id="profile-img">
            <img th:if="${event.img_path == null}"
                 th:src="@{/images/default_img.png}" alt="default_profile">
            <img th:unless="${event.img_path == null}"
                 th:src="|@{/download/event/}${event.img_path}|">
        </div>
        <label class="form-label" for="image">*대표 이미지:</label>
        <input class="form-input" type="file" id="image" name="event_img" accept="image/*">

        <label class="form-label">참여 방식:</label>
        <div class="radio-group">
            <input type="radio" id="reserve" name="type" value="reserve" required>
            <label class="form-label" for="reserve">사전예약</label>
            <input type="radio" id="wait" name="type" value="wait" required>
            <label class="form-label" for="wait">현장대기</label>
            <input type="radio" id="both" name="type" value="both" required>
            <label class="form-label" for="both">전체</label>
        </div>

        <label class="form-label" for="reserve_limit">예약 제한 인원:</label>
        <select class="form-select" id="reserve_limit" name="reserve_limit">
            <option th:each="i : ${#numbers.sequence(0, 100, 10)}" th:value="${i}" th:text="${i} + '명'"
                    th:selected="${i} == ${event.reserve_limit}"></option>
        </select>

        <label class="form-label" for="wait_limit">대기 제한 인원:</label>
        <select class="form-select" id="wait_limit" name="wait_limit">
            <option th:each="i : ${#numbers.sequence(0, 100, 10)}" th:value="${i}" th:text="${i} + '명'"
                    th:selected="${i} == ${event.wait_limit}"></option>
        </select>

        <div id="btn-box">
            <button class="btn btn-primary" type="submit">이벤트 수정</button>
            <button class="btn btn-secondary" type="button"
                    onclick="location.href='/hereevent/admin/event'">취소</button>
        </div>

    </form>
</main>
</body>
</html>