<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">>
<head>
    <meta charset="UTF-8">
    <title>HereEvent-List</title>
    <link href="/hereevent/common/css/cardList.css" rel="stylesheet">
</head>
<body>
    <main layout:fragment="main" class="main">
        <!-- Page Title -->
        <div class="page-title">
            <div class="container">
                <nav class="breadcrumbs">
                    <ol>
                        <li><a href="/hereevent/main">Home</a></li>
                        <li th:if="${type == 'star'}" class="current">별점 순</li>
                        <li th:if="${type == 'popular'}" class="current">인기 순</li>
                        <li th:if="${type == 'open'}" class="current">오픈 예정 이벤트</li>
                        <li th:if="${type == 'all'}" class="current">전체 이벤트</li>
                    </ol>
                </nav>
                <h1 th:if="${type == 'star'}">별점 순 이벤트 목록</h1>
                <h1 th:if="${type == 'popular'}">인기 순 이벤트 목록</h1>
                <h1 th:if="${type == 'open'}">오픈 예정 이벤트 목록</h1>
                <h1 th:if="${type == 'all'}">전체 이벤트 목록</h1>
            </div>
        </div>
        <!-- End Page Title -->

        <div class="container d-flex justify-content-center event-select">
            <!-- 오픈 예정인 이벤트는 상태 버튼 표시 X -->
            <div th:unless="${type == 'open'}" class="state">
                <span class="btn-label">상태</span>
                <input value="still" type="checkbox" class="btn-check" name="state" id="still" checked>
                <label class="btn btn-outline-primary" for="still">진행중</label> <!-- 기본값 -->

                <th:block th:unless="${type == 'star'}">
                    <input value="open" type="checkbox" class="btn-check" name="state" id="open">
                    <label class="btn btn-outline-primary" for="open">오픈예정</label>
                </th:block>

                <input value="end" type="checkbox" class="btn-check" name="state" id="end">
                <label class="btn btn-outline-primary" for="end">종료</label>
            </div>
            <div class="type">
                <span class="btn-label">방식</span>
                <input value="reserve" type="checkbox" class="btn-check" name="type" id="reserve">
                <label class="btn btn-outline-primary" for="reserve">사전예약</label>

                <input value="wait" type="checkbox" class="btn-check" name="type" id="wait">
                <label class="btn btn-outline-primary" for="wait">현장대기</label>

                <input value="both" type="checkbox" class="btn-check" name="type" id="both">
                <label class="btn btn-outline-primary" for="both">사전예약+현장대기</label>
            </div>
        </div>

        <div id="list-box" class="event-list container">
            <!-- ajax 로 받아온 데이터 출력 -->
        </div>

        <!-- head 태그에 추가 시 동작 X, layout 이 적용되는 태그 내에 추가 시 정상 작동 -->
        <script type="text/javascript" src="/hereevent/common/js/cardList.js"></script>
        <script type="text/javascript" th:inline="javascript">
            $(document).ready(function() {
                printEventList([[${type}]]);
                $(".btn-check").each(function () {
                    $(this).click(function () {
                        printEventList([[${type}]]);
                    });
                });
            })
        </script>
    </main>

</body>
</html>