<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>HereEvent</title>
</head>

<body class="index-page">

<main layout:fragment="main" class="main">
    <!-- 카테고리 Section -->
    <section id="clients-category" class="clients section">
        <div class="container section-title">
            <h2>카테고리, DB에서 불러오는 걸로 변경 필요</h2>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="swiper">
                <script type="application/json" class="swiper-config">
                    {
                        "loop": true,
                        "speed": 600,
                        "autoplay": {
                            "delay": 5000
                        },
                        "slidesPerView": "auto",
                        "pagination": {
                            "el": ".swiper-pagination",
                            "type": "bullets",
                            "clickable": true
                        },
                        "breakpoints": {
                            "320": {
                                "slidesPerView": 2,
                                "spaceBetween": 20
                            },
                            "480": {
                                "slidesPerView": 3,
                                "spaceBetween": 20
                            },
                            "640": {
                                "slidesPerView": 4,
                                "spaceBetween": 20
                            },
                            "992": {
                                "slidesPerView": 6,
                                "spaceBetween": 20
                            }
                        }
                    }
                </script>
                <div class="swiper-wrapper align-items-center">
                    <div th:each="open : ${openlist}" class="swiper-slide">
                        <img th:src="|@{/download/event/}${open.img_path}|" th:alt="${open.img_path}"
                             th:onclick="|location.href='@{/event/}${open.event_no}'|">
                    </div>
                </div>
            </div>

        </div>

    </section><!-- /카테고리 Section -->

    <!-- 별점 Section -->
    <section id="clients-star" class="clients section">
        <div class="container section-title">
            <h2>별점 순</h2>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="swiper">
                <script type="application/json" class="swiper-config">
                    {
                        "loop": true,
                        "speed": 600,
                        "autoplay": {
                            "delay": 5000
                        },
                        "slidesPerView": "auto",
                        "pagination": {
                            "el": ".swiper-pagination",
                            "type": "bullets",
                            "clickable": true
                        },
                        "breakpoints": {
                            "320": {
                                "slidesPerView": 2,
                                "spaceBetween": 20
                            },
                            "480": {
                                "slidesPerView": 3,
                                "spaceBetween": 20
                            },
                            "640": {
                                "slidesPerView": 4,
                                "spaceBetween": 20
                            },
                            "992": {
                                "slidesPerView": 6,
                                "spaceBetween": 20
                            }
                        }
                    }
                </script>
                <div class="swiper-wrapper align-items-center">
                    <div th:each="star : ${starlist}" class="swiper-slide">
                        <img th:src="|@{/download/event/}${star.img_path}|" class="img-fluid" th:alt="${star.img_path}"
                            th:onclick="|location.href='@{/event/}${star.event_no}'|">
                    </div>
                </div>
            </div>

        </div>

    </section><!-- /별점 Section -->

    <!-- 인기 순 Section -->
    <section id="clients-popular" class="clients section">
        <div class="container section-title">
            <h2>인기 순</h2>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="swiper">
                <script type="application/json" class="swiper-config">
                    {
                        "loop": true,
                        "speed": 600,
                        "autoplay": {
                            "delay": 5000
                        },
                        "slidesPerView": "auto",
                        "pagination": {
                            "el": ".swiper-pagination",
                            "type": "bullets",
                            "clickable": true
                        },
                        "breakpoints": {
                            "320": {
                                "slidesPerView": 2,
                                "spaceBetween": 20
                            },
                            "480": {
                                "slidesPerView": 3,
                                "spaceBetween": 20
                            },
                            "640": {
                                "slidesPerView": 4,
                                "spaceBetween": 20
                            },
                            "992": {
                                "slidesPerView": 6,
                                "spaceBetween": 20
                            }
                        }
                    }
                </script>
                <div class="swiper-wrapper align-items-center">
                    <div th:each="popular : ${popularlist}" class="swiper-slide">
                        <img th:src="|@{/download/event/}${popular.img_path}|" class="img-fluid" th:alt="${popular.img_path}"
                             th:onclick="|location.href='@{/event/}${popular.event_no}'|">
                    </div>
                </div>
            </div>

        </div>

    </section><!-- /인기 Section -->

    <!-- 오픈 예정 Section -->
    <section id="clients-soon" class="clients section">
        <div class="container section-title">
            <h2>오픈 예정 이벤트</h2>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="swiper">
                <script type="application/json" class="swiper-config">
                    {
                        "loop": true,
                        "speed": 600,
                        "autoplay": {
                            "delay": 5000
                        },
                        "slidesPerView": "auto",
                        "pagination": {
                            "el": ".swiper-pagination",
                            "type": "bullets",
                            "clickable": true
                        },
                        "breakpoints": {
                            "320": {
                                "slidesPerView": 2,
                                "spaceBetween": 20
                            },
                            "480": {
                                "slidesPerView": 3,
                                "spaceBetween": 20
                            },
                            "640": {
                                "slidesPerView": 4,
                                "spaceBetween": 20
                            },
                            "992": {
                                "slidesPerView": 6,
                                "spaceBetween": 20
                            }
                        }
                    }
                </script>
                <div class="swiper-wrapper align-items-center">
                    <div th:each="open : ${openlist}" class="swiper-slide">
                        <img th:src="|@{/download/event/}${open.img_path}|" class="img-fluid" th:alt="${open.img_path}"
                             th:onclick="|location.href='@{/event/}${open.event_no}'|">
                    </div>
                </div>
            </div>

        </div>

    </section><!-- /오픈 예정 Section -->

    <!-- 전체 이벤트 Section -->
    <section id="clients-all" class="clients section">
        <div class="container section-title">
            <h2>전체 이벤트</h2>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="swiper">
                <script type="application/json" class="swiper-config">
                    {
                        "loop": true,
                        "speed": 600,
                        "autoplay": {
                            "delay": 5000
                        },
                        "slidesPerView": "auto",
                        "pagination": {
                            "el": ".swiper-pagination",
                            "type": "bullets",
                            "clickable": true
                        },
                        "breakpoints": {
                            "320": {
                                "slidesPerView": 2,
                                "spaceBetween": 20
                            },
                            "480": {
                                "slidesPerView": 3,
                                "spaceBetween": 20
                            },
                            "640": {
                                "slidesPerView": 4,
                                "spaceBetween": 20
                            },
                            "992": {
                                "slidesPerView": 6,
                                "spaceBetween": 20
                            }
                        }
                    }
                </script>
                <div class="swiper-wrapper align-items-center">
                    <div th:each="all : ${alleventlist}" class="swiper-slide">
                        <img th:src="|@{/download/event/}${all.img_path}|" class="img-fluid" th:alt="${all.img_path}"
                             th:onclick="|location.href='@{/event/}${all.event_no}'|">
                    </div>
                </div>
            </div>

        </div>

    </section><!-- /전체 이벤트 Section -->
</main>

</body>

</html>