<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>HereEvent</title>
    <link href="/hereevent/common/css/mainPage.css" rel="stylesheet">
    <link href="/hereevent/common/css/starRate.css" rel="stylesheet">
    <script type="text/javascript" src="/hereevent/common/js/starRate.js"></script>
</head>

<body class="index-page">

<main layout:fragment="main" class="main">

    <!-- 배너 Section -->
    <section id="hero" class="hero section">

        <img src="/hereevent/images/banner/hero-bg.jpg" alt="" data-aos="fade-in">

        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2 data-aos="fade-up" data-aos-delay="100">Bettter digital experience with Presento</h2>
                    <p data-aos="fade-up" data-aos-delay="200">We are team of talented designers making websites with Bootstrap</p>
                </div>
            </div>
        </div>

    </section><!-- /배너 Section -->

    <!-- 카테고리 Section -->
    <section id="clients-category" class="clients section">
        <div class="container section-title">
            <h2>카테고리</h2>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="swiper">
                <script type="application/json" class="swiper-config">
                    {
                        "loop": false,
                        "speed": 600,
                        "autoplay": false,
                        "slidesPerView": "auto",
                        "pagination": {
                            "el": ".swiper-pagination",
                            "type": "bullets",
                            "clickable": true
                        },
                        "breakpoints": {
                            "400": {
                                "slidesPerView": 3,
                                "spaceBetween": 10
                            },
                            "600": {
                                "slidesPerView": 4,
                                "spaceBetween": 10
                            },
                            "800": {
                                "slidesPerView": 5,
                                "spaceBetween": 10
                            },
                            "1000": {
                                "slidesPerView": 6,
                                "spaceBetween": 10
                            }
                        }
                    }
                </script>
                <div class="swiper-wrapper align-items-center">
                    <div th:each="four:${fourlist}" class="swiper-slide category-list">
                        <div class="category-imgs row row-cols-2">
                            <th:block th:each="event, i : ${four.eventList}">
                                <img class="img-fluid col" th:onclick="|location.href='@{/event/list/}${four.category_no}'|"
                                     th:if="${event.img_path != null}" th:src="|@{/download/event/}${event.img_path}|" th:alt="${event.img_path}">
                                <img class="img-fluid col" th:onclick="|location.href='@{/event/list/}${four.category_no}'|"
                                     th:unless="${event.img_path != null}" th:src="@{/images/default_img.png}" alt="default_img">
                            </th:block>
                        </div>
                        <div class="overlay d-flex" th:onclick="|location.href='@{/event/list/}${four.category_no}'|">
                            <h3 class="category-name">#[[${four.name}]]</h3>
                        </div><!--overay end-->
                    </div>
                </div>
            </div>
        </div>
    </section><!-- /카테고리 Section -->

    <!-- 별점 Section -->
    <section id="clients-star" class="clients section">
        <div class="container section-title">
            <h2><a href="/hereevent/list?type=star">별점 순</a></h2>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="swiper">
                <script type="application/json" class="swiper-config">
                    {
                        "loop": false,
                        "speed": 600,
                        "autoplay": false,
                        "slidesPerView": "auto",
                        "pagination": {
                            "el": ".swiper-pagination",
                            "type": "bullets",
                            "clickable": true
                        },
                        "breakpoints": {
                            "400": {
                                "slidesPerView": 3,
                                "spaceBetween": 10
                            },
                            "600": {
                                "slidesPerView": 4,
                                "spaceBetween": 10
                            },
                            "800": {
                                "slidesPerView": 5,
                                "spaceBetween": 10
                            },
                            "1000": {
                                "slidesPerView": 6,
                                "spaceBetween": 10
                            }
                        }
                    }
                </script>
                <div class="swiper-wrapper align-items-center">

                    <div th:each="star, i : ${starlist}" class="swiper-slide">
                        <img th:if="${star.img_path != null}" th:src="|@{/download/event/}${star.img_path}|" class="img-fluid"
                             th:alt="${star.img_path}" th:onclick="|location.href='@{/event/}${star.event_no}'|">
                        <img th:unless="${star.img_path != null}" th:src="@{/images/default_img.png}" class="img-fluid"
                             alt="default_img" th:onclick="|location.href='@{/event/}${star.event_no}'|">

                        <h2 th:text="${i.index+1}" class="overlay-text rank"></h2>
                        <div class="overlay" th:onclick="|location.href='@{/event/}${star.event_no}'|">
                                <h5 th:text="${star.name}" class="overlay-text name"></h5>
                                <p class="overlay-text date"><span th:text="${star.start_date}"/> ~ <span th:text="${star.end_date}"/></p>
                                <div class="overlay-text star">
                                    <div class="justify-content-center rating readonly">
                                        <label class="rating-label rating-label-half">
                                            <input type="radio" class="rating-input"
                                                   th:checked="${star.avg_star < 1.0} ? true : false">
                                            <span class="star-icon"></span>
                                        </label>
                                        <label class="rating-label rating-label-full">
                                            <input type="radio" class="rating-input"
                                                   th:checked="${star.avg_star < 1.5} ? true : false">
                                            <span class="star-icon"></span>
                                        </label>
                                        <label class="rating-label rating-label-half">
                                            <input type="radio" class="rating-input"
                                                   th:checked="${star.avg_star < 2.0} ? true : false">
                                            <span class="star-icon"></span>
                                        </label>
                                        <label class="rating-label rating-label-full">
                                            <input type="radio" class="rating-input"
                                                   th:checked="${star.avg_star < 2.5} ? true : false">
                                            <span class="star-icon"></span>
                                        </label>
                                        <label class="rating-label rating-label-half">
                                            <input type="radio" class="rating-input"
                                                   th:checked="${star.avg_star < 3.0} ? true : false">
                                            <span class="star-icon"></span>
                                        </label>
                                        <label class="rating-label rating-label-full">
                                            <input type="radio" class="rating-input"
                                                   th:checked="${star.avg_star < 3.5} ? true : false">
                                            <span class="star-icon"></span>
                                        </label>
                                        <label class="rating-label rating-label-half">
                                            <input type="radio" class="rating-input"
                                                   th:checked="${star.avg_star < 4.0} ? true : false">
                                            <span class="star-icon"></span>
                                        </label>
                                        <label class="rating-label rating-label-full">
                                            <input type="radio" class="rating-input"
                                                   th:checked="${star.avg_star < 4.5} ? true : false">
                                            <span class="star-icon"></span>
                                        </label>
                                        <label class="rating-label rating-label-half">
                                            <input type="radio" class="rating-input"
                                                   th:checked="${star.avg_star < 5.0} ? true : false">
                                            <span class="star-icon"></span>
                                        </label>
                                        <label class="rating-label rating-label-full">
                                            <input type="radio" class="rating-input"
                                                   th:checked="${star.avg_star == 5.0} ? true : false">
                                            <span class="star-icon"></span>
                                        </label>
                                    </div>
                                </div>
                        </div><!--overay end-->
                    
                    </div>
                </div>
            </div>

        </div>

    </section><!-- /별점 Section -->

    <!-- 인기 순 Section -->
    <section id="clients-popular" class="clients section">
        <div class="container section-title">
            <h2><a href="/hereevent/list?type=popular">인기 순</a></h2>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="swiper">
                <script type="application/json" class="swiper-config">
                    {
                        "loop": false,
                        "speed": 600,
                        "autoplay": false,
                        "slidesPerView": "auto",
                        "pagination": {
                            "el": ".swiper-pagination",
                            "type": "bullets",
                            "clickable": true
                        },
                        "breakpoints": {
                            "400": {
                                "slidesPerView": 3,
                                "spaceBetween": 10
                            },
                            "600": {
                                "slidesPerView": 4,
                                "spaceBetween": 10
                            },
                            "800": {
                                "slidesPerView": 5,
                                "spaceBetween": 10
                            },
                            "1000": {
                                "slidesPerView": 6,
                                "spaceBetween": 10
                            }
                        }
                    }
                </script>
                <div class="swiper-wrapper align-items-center">
                  
                    <div th:each="popular, i : ${popularlist}" class="swiper-slide">
                        <img th:if="${popular.img_path != null}" th:src="|@{/download/event/}${popular.img_path}|" class="img-fluid"
                             th:alt="${popular.img_path}" th:onclick="|location.href='@{/event/}${popular.event_no}'|">
                        <img th:unless="${popular.img_path != null}" th:src="@{/images/default_img.png}" class="img-fluid"
                             alt="default_img" th:onclick="|location.href='@{/event/}${popular.event_no}'|">

                        <h2 th:text="${i.index+1}" class="overlay-text rank"></h2>
                        <div class="overlay" th:onclick="|location.href='@{/event/}${popular.event_no}'|">
                            <h5 th:text="${popular.name}" class="overlay-text name"></h5>
                            <p class="overlay-text date"><span th:text="${popular.start_date}"/> ~ <span th:text="${popular.end_date}"/></p>
                            <div class="overlay-text star">
                                <div class="justify-content-center rating readonly">
                                    <label class="rating-label rating-label-half">
                                        <input type="radio" class="rating-input"
                                               th:checked="${popular.avg_star < 1.0} ? true : false">
                                        <span class="star-icon"></span>
                                    </label>
                                    <label class="rating-label rating-label-full">
                                        <input type="radio" class="rating-input"
                                               th:checked="${popular.avg_star < 1.5} ? true : false">
                                        <span class="star-icon"></span>
                                    </label>
                                    <label class="rating-label rating-label-half">
                                        <input type="radio" class="rating-input"
                                               th:checked="${popular.avg_star < 2.0} ? true : false">
                                        <span class="star-icon"></span>
                                    </label>
                                    <label class="rating-label rating-label-full">
                                        <input type="radio" class="rating-input"
                                               th:checked="${popular.avg_star < 2.5} ? true : false">
                                        <span class="star-icon"></span>
                                    </label>
                                    <label class="rating-label rating-label-half">
                                        <input type="radio" class="rating-input"
                                               th:checked="${popular.avg_star < 3.0} ? true : false">
                                        <span class="star-icon"></span>
                                    </label>
                                    <label class="rating-label rating-label-full">
                                        <input type="radio" class="rating-input"
                                               th:checked="${popular.avg_star < 3.5} ? true : false">
                                        <span class="star-icon"></span>
                                    </label>
                                    <label class="rating-label rating-label-half">
                                        <input type="radio" class="rating-input"
                                               th:checked="${popular.avg_star < 4.0} ? true : false">
                                        <span class="star-icon"></span>
                                    </label>
                                    <label class="rating-label rating-label-full">
                                        <input type="radio" class="rating-input"
                                               th:checked="${popular.avg_star < 4.5} ? true : false">
                                        <span class="star-icon"></span>
                                    </label>
                                    <label class="rating-label rating-label-half">
                                        <input type="radio" class="rating-input"
                                               th:checked="${popular.avg_star < 5.0} ? true : false">
                                        <span class="star-icon"></span>
                                    </label>
                                    <label class="rating-label rating-label-full">
                                        <input type="radio" class="rating-input"
                                               th:checked="${popular.avg_star == 5.0} ? true : false">
                                        <span class="star-icon"></span>
                                    </label>
                                </div>
                            </div>
                        </div><!--overay end-->

                    </div>
                </div>
            </div>

        </div>

    </section><!-- /인기 Section -->

    <!-- 오픈 예정 Section -->
    <section id="clients-soon" class="clients section">
        <div class="container section-title">
            <h2><a href="/hereevent/list?type=open">오픈 예정 이벤트</a></h2>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="swiper">
                <script type="application/json" class="swiper-config">
                    {
                        "loop": false,
                        "speed": 600,
                        "autoplay": false,
                        "slidesPerView": "auto",
                        "pagination": {
                            "el": ".swiper-pagination",
                            "type": "bullets",
                            "clickable": true
                        },
                        "breakpoints": {
                            "400": {
                                "slidesPerView": 3,
                                "spaceBetween": 10
                            },
                            "600": {
                                "slidesPerView": 4,
                                "spaceBetween": 10
                            },
                            "800": {
                                "slidesPerView": 5,
                                "spaceBetween": 10
                            },
                            "1000": {
                                "slidesPerView": 6,
                                "spaceBetween": 10
                            }
                        }
                    }
                </script>
                <div class="swiper-wrapper align-items-center">
                  
                    <div th:each="open : ${openlist}" class="swiper-slide">
                        <img th:if="${open.img_path != null}" th:src="|@{/download/event/}${open.img_path}|" class="img-fluid"
                             th:alt="${open.img_path}" th:onclick="|location.href='@{/event/}${open.event_no}'|">
                        <img th:unless="${open.img_path != null}" th:src="@{/images/default_img.png}" class="img-fluid"
                             alt="default_img" th:onclick="|location.href='@{/event/}${open.event_no}'|">

                        <div class="overlay" th:onclick="|location.href='@{/event/}${open.event_no}'|">
                            <h5 th:text="${open.name}" class="overlay-text name"></h5>
                            <p class="overlay-text date"><span th:text="${open.start_date}"/> ~ <span th:text="${open.end_date}"/></p>
                            <div class="overlay-text star">
                                <div class="justify-content-center rating readonly">
                                    <label class="rating-label rating-label-half">
                                        <input type="radio" class="rating-input"
                                               th:checked="${open.avg_star < 1.0} ? true : false">
                                        <span class="star-icon"></span>
                                    </label>
                                    <label class="rating-label rating-label-full">
                                        <input type="radio" class="rating-input"
                                               th:checked="${open.avg_star < 1.5} ? true : false">
                                        <span class="star-icon"></span>
                                    </label>
                                    <label class="rating-label rating-label-half">
                                        <input type="radio" class="rating-input"
                                               th:checked="${open.avg_star < 2.0} ? true : false">
                                        <span class="star-icon"></span>
                                    </label>
                                    <label class="rating-label rating-label-full">
                                        <input type="radio" class="rating-input"
                                               th:checked="${open.avg_star < 2.5} ? true : false">
                                        <span class="star-icon"></span>
                                    </label>
                                    <label class="rating-label rating-label-half">
                                        <input type="radio" class="rating-input"
                                               th:checked="${open.avg_star < 3.0} ? true : false">
                                        <span class="star-icon"></span>
                                    </label>
                                    <label class="rating-label rating-label-full">
                                        <input type="radio" class="rating-input"
                                               th:checked="${open.avg_star < 3.5} ? true : false">
                                        <span class="star-icon"></span>
                                    </label>
                                    <label class="rating-label rating-label-half">
                                        <input type="radio" class="rating-input"
                                               th:checked="${open.avg_star < 4.0} ? true : false">
                                        <span class="star-icon"></span>
                                    </label>
                                    <label class="rating-label rating-label-full">
                                        <input type="radio" class="rating-input"
                                               th:checked="${open.avg_star < 4.5} ? true : false">
                                        <span class="star-icon"></span>
                                    </label>
                                    <label class="rating-label rating-label-half">
                                        <input type="radio" class="rating-input"
                                               th:checked="${open.avg_star < 5.0} ? true : false">
                                        <span class="star-icon"></span>
                                    </label>
                                    <label class="rating-label rating-label-full">
                                        <input type="radio" class="rating-input"
                                               th:checked="${open.avg_star == 5.0} ? true : false">
                                        <span class="star-icon"></span>
                                    </label>
                                </div>
                            </div>
                        </div><!--overay end-->

                    </div>
                
                </div>
            </div>

        </div>

    </section><!-- /오픈 예정 Section -->

    <!-- 전체 이벤트 Section -->
    <section id="clients-all" class="clients section">
        <div class="container section-title">
            <h2><a href="/hereevent/list?type=all">전체 이벤트</a></h2>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="swiper">
                <script type="application/json" class="swiper-config">
                    {
                        "loop": false,
                        "speed": 600,
                        "autoplay": false,
                        "slidesPerView": "auto",
                        "pagination": {
                            "el": ".swiper-pagination",
                            "type": "bullets",
                            "clickable": true
                        },
                        "breakpoints": {
                            "400": {
                                "slidesPerView": 3,
                                "spaceBetween": 10
                            },
                            "600": {
                                "slidesPerView": 4,
                                "spaceBetween": 10
                            },
                            "800": {
                                "slidesPerView": 5,
                                "spaceBetween": 10
                            },
                            "1000": {
                                "slidesPerView": 6,
                                "spaceBetween": 10
                            }
                        }
                    }
                </script>
                <div class="swiper-wrapper align-items-center">
                  
                    <div th:each="all : ${alleventlist}" class="swiper-slide">
                        <img th:if="${all.img_path != null}" th:src="|@{/download/event/}${all.img_path}|" class="img-fluid"
                             th:alt="${all.img_path}" th:onclick="|location.href='@{/event/}${all.event_no}'|">
                        <img th:unless="${all.img_path != null}" th:src="@{/images/default_img.png}" class="img-fluid"
                             alt="default_img" th:onclick="|location.href='@{/event/}${all.event_no}'|">

                        <div class="overlay" th:onclick="|location.href='@{/event/}${all.event_no}'|">
                            <h5 th:text="${all.name}" class="overlay-text name"></h5>
                            <p class="overlay-text date"><span th:text="${all.start_date}"/> ~ <span th:text="${all.end_date}"/></p>
                            <div class="overlay-text star">
                                <div class="justify-content-center rating readonly">
                                    <label class="rating-label rating-label-half">
                                        <input type="radio" class="rating-input"
                                               th:checked="${all.avg_star < 1.0} ? true : false">
                                        <span class="star-icon"></span>
                                    </label>
                                    <label class="rating-label rating-label-full">
                                        <input type="radio" class="rating-input"
                                               th:checked="${all.avg_star < 1.5} ? true : false">
                                        <span class="star-icon"></span>
                                    </label>
                                    <label class="rating-label rating-label-half">
                                        <input type="radio" class="rating-input"
                                               th:checked="${all.avg_star < 2.0} ? true : false">
                                        <span class="star-icon"></span>
                                    </label>
                                    <label class="rating-label rating-label-full">
                                        <input type="radio" class="rating-input"
                                               th:checked="${all.avg_star < 2.5} ? true : false">
                                        <span class="star-icon"></span>
                                    </label>
                                    <label class="rating-label rating-label-half">
                                        <input type="radio" class="rating-input"
                                               th:checked="${all.avg_star < 3.0} ? true : false">
                                        <span class="star-icon"></span>
                                    </label>
                                    <label class="rating-label rating-label-full">
                                        <input type="radio" class="rating-input"
                                               th:checked="${all.avg_star < 3.5} ? true : false">
                                        <span class="star-icon"></span>
                                    </label>
                                    <label class="rating-label rating-label-half">
                                        <input type="radio" class="rating-input"
                                               th:checked="${all.avg_star < 4.0} ? true : false">
                                        <span class="star-icon"></span>
                                    </label>
                                    <label class="rating-label rating-label-full">
                                        <input type="radio" class="rating-input"
                                               th:checked="${all.avg_star < 4.5} ? true : false">
                                        <span class="star-icon"></span>
                                    </label>
                                    <label class="rating-label rating-label-half">
                                        <input type="radio" class="rating-input"
                                               th:checked="${all.avg_star < 5.0} ? true : false">
                                        <span class="star-icon"></span>
                                    </label>
                                    <label class="rating-label rating-label-full">
                                        <input type="radio" class="rating-input"
                                               th:checked="${all.avg_star == 5.0} ? true : false">
                                        <span class="star-icon"></span>
                                    </label>
                                </div>
                            </div>
                        </div><!--overay end-->
                      
                    </div>
                </div>
            </div>

        </div>

    </section><!-- /전체 이벤트 Section -->
</main>

</body>

</html>
