<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>HereEvent</title>
</head>

<body class="index-page">

<main layout:fragment="main" class="main">

    <!-- 배너 Section -->
    <section id="hero" class="hero section">

        <img src="/hereevent/images/banner/hero-bg.jpg" alt="" data-aos="fade-in">

        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2 data-aos="fade-up" data-aos-delay="100">Bettter digital experience with Presento</h2>
                    <p data-aos="fade-up" data-aos-delay="200">We are team of talented designers making websites with Bootstrap</p>
                </div>
            </div>
        </div>

    </section><!-- /배너 Section -->

    <!-- 카테고리 Section -->
    <section id="clients-category" class="clients section">
        <div class="container section-title">
            <h2>카테고리</h2>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="swiper">
                <script type="application/json" class="swiper-config">
                    {
                        "loop": true,
                        "speed": 600,
                        "autoplay": {
                            "delay": 5000
                        },
                        "slidesPerView": "auto",
                        "pagination": {
                            "el": ".swiper-pagination",
                            "type": "bullets",
                            "clickable": true
                        },
                        "breakpoints": {
                            "400": {
                                "slidesPerView": 3,
                                "spaceBetween": 10
                            },
                            "600": {
                                "slidesPerView": 4,
                                "spaceBetween": 10
                            },
                            "800": {
                                "slidesPerView": 5,
                                "spaceBetween": 10
                            },
                            "1000": {
                                "slidesPerView": 6,
                                "spaceBetween": 10
                            }
                        }
                    }
                </script>
                <div class="swiper-wrapper align-items-center">
                    <div th:each="four:${fourlist}" class="swiper-slide">
                        <div class="cate-screen1" th:each="event : ${four.eventList}">
                            <img th:src="|@{/download/event/}${event.img_path}|" class="img-fluid"
                                 th:onclick="|location.href='@{/event/list/}${four.category_no}'|">
                        </div>
                </div>
            </div>

        </div>

    </section><!-- /카테고리 Section -->

    <!-- 별점 Section -->
    <section id="clients-star" class="clients section">
        <div class="container section-title">
            <h2>별점 순</h2>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="swiper">
                <script type="application/json" class="swiper-config">
                    {
                        "loop": true,
                        "speed": 600,
                        "autoplay": {
                            "delay": 5000
                        },
                        "slidesPerView": "auto",
                        "pagination": {
                            "el": ".swiper-pagination",
                            "type": "bullets",
                            "clickable": true
                        },
                        "breakpoints": {
                            "400": {
                                "slidesPerView": 3,
                                "spaceBetween": 10
                            },
                            "600": {
                                "slidesPerView": 4,
                                "spaceBetween": 10
                            },
                            "800": {
                                "slidesPerView": 5,
                                "spaceBetween": 10
                            },
                            "1000": {
                                "slidesPerView": 6,
                                "spaceBetween": 10
                            }
                        }
                    }
                </script>
                <div class="swiper-wrapper align-items-center">
                    <div th:each="star : ${starlist}" class="swiper-slide">
                        <img th:src="|@{/download/event/}${star.img_path}|" class="img-fluid" th:alt="${star.img_path}"
                            th:onclick="|location.href='@{/event/}${star.event_no}'|">
                    </div>
                </div>
            </div>

        </div>

    </section><!-- /별점 Section -->

    <!-- 인기 순 Section -->
    <section id="clients-popular" class="clients section">
        <div class="container section-title">
            <h2>인기 순</h2>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="swiper">
                <script type="application/json" class="swiper-config">
                    {
                        "loop": true,
                        "speed": 600,
                        "autoplay": {
                            "delay": 5000
                        },
                        "slidesPerView": "auto",
                        "pagination": {
                            "el": ".swiper-pagination",
                            "type": "bullets",
                            "clickable": true
                        },
                        "breakpoints": {
                            "400": {
                                "slidesPerView": 3,
                                "spaceBetween": 10
                            },
                            "600": {
                                "slidesPerView": 4,
                                "spaceBetween": 10
                            },
                            "800": {
                                "slidesPerView": 5,
                                "spaceBetween": 10
                            },
                            "1000": {
                                "slidesPerView": 6,
                                "spaceBetween": 10
                            }
                        }
                    }
                </script>
                <div class="swiper-wrapper align-items-center">
                    <div th:each="popular : ${popularlist}" class="swiper-slide">
                        <img th:src="|@{/download/event/}${popular.img_path}|" class="img-fluid" th:alt="${popular.img_path}"
                             th:onclick="|location.href='@{/event/}${popular.event_no}'|">
                    </div>
                </div>
            </div>

        </div>

    </section><!-- /인기 Section -->

    <!-- 오픈 예정 Section -->
    <section id="clients-soon" class="clients section">
        <div class="container section-title">
            <h2>오픈 예정 이벤트</h2>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="swiper">
                <script type="application/json" class="swiper-config">
                    {
                        "loop": true,
                        "speed": 600,
                        "autoplay": {
                            "delay": 5000
                        },
                        "slidesPerView": "auto",
                        "pagination": {
                            "el": ".swiper-pagination",
                            "type": "bullets",
                            "clickable": true
                        },
                        "breakpoints": {
                            "400": {
                                "slidesPerView": 3,
                                "spaceBetween": 10
                            },
                            "600": {
                                "slidesPerView": 4,
                                "spaceBetween": 10
                            },
                            "800": {
                                "slidesPerView": 5,
                                "spaceBetween": 10
                            },
                            "1000": {
                                "slidesPerView": 6,
                                "spaceBetween": 10
                            }
                        }
                    }
                </script>
                <div class="swiper-wrapper align-items-center">
                    <div th:each="open : ${openlist}" class="swiper-slide">
                        <img th:src="|@{/download/event/}${open.img_path}|" class="img-fluid" th:alt="${open.img_path}"
                             th:onclick="|location.href='@{/event/}${open.event_no}'|">
                    </div>
                </div>
            </div>

        </div>

    </section><!-- /오픈 예정 Section -->

    <!-- 전체 이벤트 Section -->
    <section id="clients-all" class="clients section">
        <div class="container section-title">
            <h2>전체 이벤트</h2>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="swiper">
                <script type="application/json" class="swiper-config">
                    {
                        "loop": true,
                        "speed": 600,
                        "autoplay": {
                            "delay": 5000
                        },
                        "slidesPerView": "auto",
                        "pagination": {
                            "el": ".swiper-pagination",
                            "type": "bullets",
                            "clickable": true
                        },
                        "breakpoints": {
                            "400": {
                                "slidesPerView": 3,
                                "spaceBetween": 10
                            },
                            "600": {
                                "slidesPerView": 4,
                                "spaceBetween": 10
                            },
                            "800": {
                                "slidesPerView": 5,
                                "spaceBetween": 10
                            },
                            "1000": {
                                "slidesPerView": 6,
                                "spaceBetween": 10
                            }
                        }
                    }
                </script>
                <div class="swiper-wrapper align-items-center">
                    <div th:each="all : ${alleventlist}" class="swiper-slide">
                        <img th:src="|@{/download/event/}${all.img_path}|" class="img-fluid" th:alt="${all.img_path}"
                             th:onclick="|location.href='@{/event/}${all.event_no}'|">
                    </div>
                </div>
            </div>

        </div>

    </section><!-- /전체 이벤트 Section -->
</main>

</body>

</html>