<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/hereevent/event/searchlist" method="post">
        <input type=text name="keyword"/> <input type="submit" value="검색">
    </form>
    <table class="table">
        <thead>
        <tr>
            <th>이름</th>
            <th>시작날짜</th>
            <th>종료날짜</th>
            <th>위치</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="search:${searchlist}">
            <td><span th:text="${search.name }"></span></td>
            <td><span th:text="${search.start_date }"></span></td>
            <td><span th:text="${search.end_date }"></span></td>
            <td><span th:text="${search.addr }"></span></td>
        </tr>
        </tbody>
    </table>
</body>
</html>