<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- CSS File -->
    <link href="/hereevent/common/css/mainPop.css" rel="stylesheet">
    <title>HereEvent</title>
</head>
<body>
<nav data-align="center" class="div-menu-bar"><h1><a href="/"><img
        src="./images/logo/here-event_logo.png"
        alt="팝플리 로고이미지"></a></h1>
    <ul class="header-icon">
        <li class="header-search-container"><p class="header-search-wrap"></p></li>
        <li><img src="/static/media/menu-bar.a34db212a66986c5dee578a9013562a4.svg" alt="메뉴 열기"></li>
    </ul>
    <div style="position: relative;">
        <div class="slick-slider slick-initialized" dir="ltr">
            <div class="mainPrevious"></div>
            <div class="slick-list">
                <div class="slick-track" style="opacity: 1; transform: translate3d(-4698px, 0px, 0px); width: 9918px;">
                    <div data-index="-1" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true"
                         style="width: 522px;">
                        <div>
                            <div class="popupbanner-list" tabindex="-1" style="width: 100%; display: inline-block;">
                                <div class="slide-content">
                                    <div class="slide-img-wrap"><img
                                            src="https://cf-templates-1gyolugg9zn9q-ap-northeast-2.s3.ap-northeast-2.amazonaws.com/store/f65a376c%2C703a%2C48b6%2C9773%2Cdd41886f284d"
                                            alt=""></div>
                                    <div><p class="slide-tit">샵사이다 롯데월드몰 팝업스토어</p>
                                        <p>24.05.10 - 08.08</p>
                                        <p><img src="/static/media/slidemapicon.3f315086fbbe691409c94bcf4c092be1.svg">서울특별시
                                            송파구</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-index="0" class="slick-slide" tabindex="-1" aria-hidden="true"
                         style="outline: none; width: 522px;">
                        <div>
                            <div class="popupbanner-list" tabindex="-1" style="width: 100%; display: inline-block;">
                                <div class="slide-content">
                                    <div class="slide-img-wrap"><img
                                            src="https://cf-templates-1gyolugg9zn9q-ap-northeast-2.s3.ap-northeast-2.amazonaws.com/store/07424695%2C3bd6%2C4869%2Cac1f%2Cbb819326ca2f"
                                            alt=""></div>
                                    <div><p class="slide-tit">힌스 팝업스토어 BLUE DIVE</p>
                                        <p>24.06.14 - 06.23</p>
                                        <p><img src="/static/media/slidemapicon.3f315086fbbe691409c94bcf4c092be1.svg">서울특별시
                                            성동구</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-index="1" class="slick-slide" tabindex="-1" aria-hidden="true"
                         style="outline: none; width: 522px;">
                        <div>
                            <div class="popupbanner-list" tabindex="-1" style="width: 100%; display: inline-block;">
                                <div class="slide-content">
                                    <div class="slide-img-wrap"><img
                                            src="https://cf-templates-1gyolugg9zn9q-ap-northeast-2.s3.ap-northeast-2.amazonaws.com/store/7b1a9790%2C0b87%2C41f7%2Caedf%2C70b10a069da3"
                                            alt=""></div>
                                    <div><p class="slide-tit">파묘: 그곳의 뒤편</p>
                                        <p>24.06.14 - 06.23</p>
                                        <p><img src="/static/media/slidemapicon.3f315086fbbe691409c94bcf4c092be1.svg">서울특별시
                                            성동구</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-index="2" class="slick-slide" tabindex="-1" aria-hidden="true"
                         style="outline: none; width: 522px;">
                        <div>
                            <div class="popupbanner-list" tabindex="-1" style="width: 100%; display: inline-block;">
                                <div class="slide-content">
                                    <div class="slide-img-wrap"><img
                                            src="https://cf-templates-1gyolugg9zn9q-ap-northeast-2.s3.ap-northeast-2.amazonaws.com/store/3f057a9a%2C3c14%2C478f%2C9056%2Cae6ed6d07443"
                                            alt=""></div>
                                    <div><p class="slide-tit">농심 팝업스토어 &lt;새우깡 어드벤처 in 고래섬&gt;</p>
                                        <p>24.06.05 - 06.23</p>
                                        <p><img src="/static/media/slidemapicon.3f315086fbbe691409c94bcf4c092be1.svg">서울특별시
                                            성동구</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-index="3" class="slick-slide" tabindex="-1" aria-hidden="true"
                         style="outline: none; width: 522px;">
                        <div>
                            <div class="popupbanner-list" tabindex="-1" style="width: 100%; display: inline-block;">
                                <div class="slide-content">
                                    <div class="slide-img-wrap"><img
                                            src="https://cf-templates-1gyolugg9zn9q-ap-northeast-2.s3.ap-northeast-2.amazonaws.com/store/2b865660%2Cee3e%2C4a72%2C8368%2Cdbea961cf9cc"
                                            alt=""></div>
                                    <div><p class="slide-tit">우주 최초 괴식 페어링 짐빔괴식당</p>
                                        <p>24.06.07 - 06.30</p>
                                        <p><img src="/static/media/slidemapicon.3f315086fbbe691409c94bcf4c092be1.svg">서울특별시
                                            성동구</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-index="4" class="slick-slide" tabindex="-1" aria-hidden="true"
                         style="outline: none; width: 522px;">
                        <div>
                            <div class="popupbanner-list" tabindex="-1" style="width: 100%; display: inline-block;">
                                <div class="slide-content">
                                    <div class="slide-img-wrap"><img
                                            src="https://cf-templates-1gyolugg9zn9q-ap-northeast-2.s3.ap-northeast-2.amazonaws.com/store/ec276856%2C9845%2C4692%2Cbd7e%2Cee990029509e"
                                            alt=""></div>
                                    <div><p class="slide-tit">메디필 모공 세탁소 팝업스토어</p>
                                        <p>24.05.31 - 06.30</p>
                                        <p><img src="/static/media/slidemapicon.3f315086fbbe691409c94bcf4c092be1.svg">서울특별시
                                            서초구</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-index="5" class="slick-slide" tabindex="-1" aria-hidden="true"
                         style="outline: none; width: 522px;">
                        <div>
                            <div class="popupbanner-list" tabindex="-1" style="width: 100%; display: inline-block;">
                                <div class="slide-content">
                                    <div class="slide-img-wrap"><img
                                            src="https://cf-templates-1gyolugg9zn9q-ap-northeast-2.s3.ap-northeast-2.amazonaws.com/store/85d34da4%2C466a%2C4de4%2C9ac8%2C7ab28801394b"
                                            alt=""></div>
                                    <div><p class="slide-tit">젠틀몬스터 팝업스토어 &lt;젠틀 살롱&gt;</p>
                                        <p>24.05.01 - 06.30</p>
                                        <p><img src="/static/media/slidemapicon.3f315086fbbe691409c94bcf4c092be1.svg">서울특별시
                                            강남구</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-index="6" class="slick-slide" tabindex="-1" aria-hidden="true"
                         style="outline: none; width: 522px;">
                        <div>
                            <div class="popupbanner-list" tabindex="-1" style="width: 100%; display: inline-block;">
                                <div class="slide-content">
                                    <div class="slide-img-wrap"><img
                                            src="https://cf-templates-1gyolugg9zn9q-ap-northeast-2.s3.ap-northeast-2.amazonaws.com/store/a7585909%2C3903%2C44ca%2C881e%2C6918bf175946"
                                            alt=""></div>
                                    <div><p class="slide-tit">플레이인더박스 포켓몬 컨셉스토어 in 더현대서울</p>
                                        <p>24.06.11 - 07.04</p>
                                        <p><img src="/static/media/slidemapicon.3f315086fbbe691409c94bcf4c092be1.svg">서울특별시
                                            영등포구</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-index="7" class="slick-slide" tabindex="-1" aria-hidden="true"
                         style="outline: none; width: 522px;">
                        <div>
                            <div class="popupbanner-list" tabindex="-1" style="width: 100%; display: inline-block;">
                                <div class="slide-content">
                                    <div class="slide-img-wrap"><img
                                            src="https://cf-templates-1gyolugg9zn9q-ap-northeast-2.s3.ap-northeast-2.amazonaws.com/store/20260199%2C4612%2C4d96%2C857f%2C0f56603803a6"
                                            alt=""></div>
                                    <div><p class="slide-tit">아라바그 성수 팝업스토어</p>
                                        <p>24.05.30 - 07.31</p>
                                        <p><img src="/static/media/slidemapicon.3f315086fbbe691409c94bcf4c092be1.svg">서울특별시
                                            성동구</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-index="8" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false"
                         style="outline: none; width: 522px;">
                        <div>
                            <div class="popupbanner-list" tabindex="-1" style="width: 100%; display: inline-block;">
                                <div class="slide-content">
                                    <div class="slide-img-wrap"><img
                                            src="https://cf-templates-1gyolugg9zn9q-ap-northeast-2.s3.ap-northeast-2.amazonaws.com/store/f65a376c%2C703a%2C48b6%2C9773%2Cdd41886f284d"
                                            alt=""></div>
                                    <div><p class="slide-tit">샵사이다 롯데월드몰 팝업스토어</p>
                                        <p>24.05.10 - 08.08</p>
                                        <p><img src="/static/media/slidemapicon.3f315086fbbe691409c94bcf4c092be1.svg">서울특별시
                                            송파구</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-index="9" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true"
                         style="width: 522px;">
                        <div>
                            <div class="popupbanner-list" tabindex="-1" style="width: 100%; display: inline-block;">
                                <div class="slide-content">
                                    <div class="slide-img-wrap"><img
                                            src="https://cf-templates-1gyolugg9zn9q-ap-northeast-2.s3.ap-northeast-2.amazonaws.com/store/07424695%2C3bd6%2C4869%2Cac1f%2Cbb819326ca2f"
                                            alt=""></div>
                                    <div><p class="slide-tit">힌스 팝업스토어 BLUE DIVE</p>
                                        <p>24.06.14 - 06.23</p>
                                        <p><img src="/static/media/slidemapicon.3f315086fbbe691409c94bcf4c092be1.svg">서울특별시
                                            성동구</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-index="10" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true"
                         style="width: 522px;">
                        <div>
                            <div class="popupbanner-list" tabindex="-1" style="width: 100%; display: inline-block;">
                                <div class="slide-content">
                                    <div class="slide-img-wrap"><img
                                            src="https://cf-templates-1gyolugg9zn9q-ap-northeast-2.s3.ap-northeast-2.amazonaws.com/store/7b1a9790%2C0b87%2C41f7%2Caedf%2C70b10a069da3"
                                            alt=""></div>
                                    <div><p class="slide-tit">파묘: 그곳의 뒤편</p>
                                        <p>24.06.14 - 06.23</p>
                                        <p><img src="/static/media/slidemapicon.3f315086fbbe691409c94bcf4c092be1.svg">서울특별시
                                            성동구</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-index="11" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true"
                         style="width: 522px;">
                        <div>
                            <div class="popupbanner-list" tabindex="-1" style="width: 100%; display: inline-block;">
                                <div class="slide-content">
                                    <div class="slide-img-wrap"><img
                                            src="https://cf-templates-1gyolugg9zn9q-ap-northeast-2.s3.ap-northeast-2.amazonaws.com/store/3f057a9a%2C3c14%2C478f%2C9056%2Cae6ed6d07443"
                                            alt=""></div>
                                    <div><p class="slide-tit">농심 팝업스토어 &lt;새우깡 어드벤처 in 고래섬&gt;</p>
                                        <p>24.06.05 - 06.23</p>
                                        <p><img src="/static/media/slidemapicon.3f315086fbbe691409c94bcf4c092be1.svg">서울특별시
                                            성동구</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-index="12" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true"
                         style="width: 522px;">
                        <div>
                            <div class="popupbanner-list" tabindex="-1" style="width: 100%; display: inline-block;">
                                <div class="slide-content">
                                    <div class="slide-img-wrap"><img
                                            src="https://cf-templates-1gyolugg9zn9q-ap-northeast-2.s3.ap-northeast-2.amazonaws.com/store/2b865660%2Cee3e%2C4a72%2C8368%2Cdbea961cf9cc"
                                            alt=""></div>
                                    <div><p class="slide-tit">우주 최초 괴식 페어링 짐빔괴식당</p>
                                        <p>24.06.07 - 06.30</p>
                                        <p><img src="/static/media/slidemapicon.3f315086fbbe691409c94bcf4c092be1.svg">서울특별시
                                            성동구</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-index="13" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true"
                         style="width: 522px;">
                        <div>
                            <div class="popupbanner-list" tabindex="-1" style="width: 100%; display: inline-block;">
                                <div class="slide-content">
                                    <div class="slide-img-wrap"><img
                                            src="https://cf-templates-1gyolugg9zn9q-ap-northeast-2.s3.ap-northeast-2.amazonaws.com/store/ec276856%2C9845%2C4692%2Cbd7e%2Cee990029509e"
                                            alt=""></div>
                                    <div><p class="slide-tit">메디필 모공 세탁소 팝업스토어</p>
                                        <p>24.05.31 - 06.30</p>
                                        <p><img src="/static/media/slidemapicon.3f315086fbbe691409c94bcf4c092be1.svg">서울특별시
                                            서초구</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-index="14" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true"
                         style="width: 522px;">
                        <div>
                            <div class="popupbanner-list" tabindex="-1" style="width: 100%; display: inline-block;">
                                <div class="slide-content">
                                    <div class="slide-img-wrap"><img
                                            src="https://cf-templates-1gyolugg9zn9q-ap-northeast-2.s3.ap-northeast-2.amazonaws.com/store/85d34da4%2C466a%2C4de4%2C9ac8%2C7ab28801394b"
                                            alt=""></div>
                                    <div><p class="slide-tit">젠틀몬스터 팝업스토어 &lt;젠틀 살롱&gt;</p>
                                        <p>24.05.01 - 06.30</p>
                                        <p><img src="/static/media/slidemapicon.3f315086fbbe691409c94bcf4c092be1.svg">서울특별시
                                            강남구</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-index="15" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true"
                         style="width: 522px;">
                        <div>
                            <div class="popupbanner-list" tabindex="-1" style="width: 100%; display: inline-block;">
                                <div class="slide-content">
                                    <div class="slide-img-wrap"><img
                                            src="https://cf-templates-1gyolugg9zn9q-ap-northeast-2.s3.ap-northeast-2.amazonaws.com/store/a7585909%2C3903%2C44ca%2C881e%2C6918bf175946"
                                            alt=""></div>
                                    <div><p class="slide-tit">플레이인더박스 포켓몬 컨셉스토어 in 더현대서울</p>
                                        <p>24.06.11 - 07.04</p>
                                        <p><img src="/static/media/slidemapicon.3f315086fbbe691409c94bcf4c092be1.svg">서울특별시
                                            영등포구</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-index="16" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true"
                         style="width: 522px;">
                        <div>
                            <div class="popupbanner-list" tabindex="-1" style="width: 100%; display: inline-block;">
                                <div class="slide-content">
                                    <div class="slide-img-wrap"><img
                                            src="https://cf-templates-1gyolugg9zn9q-ap-northeast-2.s3.ap-northeast-2.amazonaws.com/store/20260199%2C4612%2C4d96%2C857f%2C0f56603803a6"
                                            alt=""></div>
                                    <div><p class="slide-tit">아라바그 성수 팝업스토어</p>
                                        <p>24.05.30 - 07.31</p>
                                        <p><img src="/static/media/slidemapicon.3f315086fbbe691409c94bcf4c092be1.svg">서울특별시
                                            성동구</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-index="17" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true"
                         style="width: 522px;">
                        <div>
                            <div class="popupbanner-list" tabindex="-1" style="width: 100%; display: inline-block;">
                                <div class="slide-content">
                                    <div class="slide-img-wrap"><img
                                            src="https://cf-templates-1gyolugg9zn9q-ap-northeast-2.s3.ap-northeast-2.amazonaws.com/store/f65a376c%2C703a%2C48b6%2C9773%2Cdd41886f284d"
                                            alt=""></div>
                                    <div><p class="slide-tit">샵사이다 롯데월드몰 팝업스토어</p>
                                        <p>24.05.10 - 08.08</p>
                                        <p><img src="/static/media/slidemapicon.3f315086fbbe691409c94bcf4c092be1.svg">서울특별시
                                            송파구</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mainNext"></div>
            <ul class="popup-banner-dots" style="display: block;">
                <li class="">
                    <button>1</button>
                </li>
                <li class="">
                    <button>2</button>
                </li>
                <li class="">
                    <button>3</button>
                </li>
                <li class="">
                    <button>4</button>
                </li>
                <li class="">
                    <button>5</button>
                </li>
                <li class="">
                    <button>6</button>
                </li>
                <li class="">
                    <button>7</button>
                </li>
                <li class="">
                    <button>8</button>
                </li>
                <li class="slick-active">
                    <button>9</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>