<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS File -->
    <link href="/hereevent/common/css/mypage.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>HereEvent-MyPage</title>

    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function(){
            $("#edit-nick").keyup(function(){
                let data = {"nick" : $("#edit-nick").val()};
                console.log("[edit nick]" + data);
                $.ajax({
                    url:"/hereevent/mypage/check-nick",
                    type:"post",
                    data: data,
                    dataType: 'text',
                    success: function(result){
                        console.log("[check nick] " + result);
                        $("#check-duplicate").text(result);
                    },
                    error: function(){
                        alert("요청 실패");
                    }
                });
            });
        });
    </script>
</head>
<body>
<main layout:fragment="main" class="main">

    <!-- Page Title -->
    <div class="page-title">
        <div class="container">
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="/hereevent">Home</a></li>
                    <li class="current">마이페이지</li>
                </ol>
            </nav>
            <h1>마이페이지</h1>
        </div>
    </div><!-- End Page Title -->

    <!-- Starter Section Section -->
    <section id="starter-section" class="starter-section section">

        <!-- Section Title -->
        <div class="container section-title">
            <h2>닉네임 수정</h2>
            <p>닉네임은 10글자 이내로 사용 가능합니다.</p>
            <div>
                <form method="post" action="/hereevent/mypage/edit-nick">
                    <input type="text" id="edit-nick" class="edit-input" name="nick"
                           placeholder="변경할 닉네임을 입력해주세요." maxlength="10" minlength="2">
                    <button type="submit" class="edit-btn">수정</button>
                </form>
            </div>
            <span id="check-duplicate"></span>
        </div><!-- End Section Title -->

    </section>

</main>
</body>
</html>