<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS File -->
    <link href="/hereevent/common/css/mypage.css" rel="stylesheet">

    <title>HereEvent-MyPage</title>
</head>
<body>
<main layout:fragment="main" class="main">

    <!-- Page Title -->
    <div class="page-title">
        <div class="container">
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="/hereevent">Home</a></li>
                    <li class="current">마이페이지</li>
                </ol>
            </nav>
            <h1>마이페이지</h1>
        </div>
    </div><!-- End Page Title -->

    <!-- Starter Section -->
    <section id="starter-section" class="starter-section section">
        <form method="post" action="/hereevent/mypage/edit-profile-img" enctype="multipart/form-data">
            <!-- Section Title -->
            <div class="container section-title">
                <h2>프로필 사진 수정</h2>
                <div class="profile-img-area">
                    <input type="hidden" th:name="member_no" th:value="${session.member.member_no}">
                    <div id="profile-img">
                        <img th:if="${session.member.img_path == null}"
                             th:src="@{/images/profile/default_profile.svg}" alt="default_profile">
                        <img th:unless="${session.member.img_path == null}"
                             th:src="|@{/download/profile/}${session.member.img_path}|" alt="member_profile">
                    </div>
                </div>
                <label class="edit-img-btn" for="select-img">
                    이미지 선택
                    <input type="file" name="profile_img" id="select-img" accept="image/*"
                           onchange="document.querySelector('#profile-img img').src = window.URL.createObjectURL(this.files[0])">
                </label>
                <button type="submit" class="edit-img-btn">수정</button>
            </div>
        </form>
    </section><!-- End Section -->

</main>
</body>
</html>