<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS File -->
    <link href="/hereevent/common/css/mypage.css" rel="stylesheet">

    <title>HereEvent-MyEvent</title>
</head>
<body>
<main layout:fragment="main" class="main">

    <!-- Page Title -->
    <div class="page-title">
        <div class="container">
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="/hereevent">Home</a></li>
                    <li class="current">마이페이지</li>
                </ol>
            </nav>
            <h1>마이페이지</h1>
        </div>
    </div><!-- End Page Title -->

    <!-- Starter Section Section -->
    <section id="starter-section" class="starter-section section">

        <!-- Section Title -->
        <div class="container section-title">
            <h2>Starter Section</h2>
            <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
        </div><!-- End Section Title -->

        <div class="container">
            <div class="submenu">
                <a href="/hereevent/mypage"><h2>내 정보</h2></a>
                <a href="/hereevent/myinterest"><h2>관심 내역</h2></a>
                <a href="/hereevent/myreview"><h2>후기 관리</h2></a>
                <a class="on" href="/hereevent/myevent"><h2>행사 내역</h2></a>
            </div>
            <ul class="profile-text-area">
                <li><span>이름</span><p th:text="${session.member.name}"></p></li>
                <li><span>닉네임</span><p th:text="${session.member.nick}"></p></li>
                <li><span>이메일</span><p th:text="${session.member.email}"></p></li>
                <li><span>연락처</span><p th:text="${session.member.tel}"></p></li>
            </ul>
        </div>

    </section><!-- /Starter Section Section -->

</main>
</body>
</html>