<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS File -->
    <link href="/hereevent/common/css/mypage.css" rel="stylesheet">

    <title>HereEvent-MyPage</title>
</head>
<body>
<main layout:fragment="main" class="main">

    <!-- Page Title -->
    <div class="page-title">
        <div class="container">
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="/hereevent">Home</a></li>
                    <li class="current">마이페이지</li>
                </ol>
            </nav>
            <h1>마이페이지</h1>
        </div>
    </div><!-- End Page Title -->

    <!-- Starter Section Section -->
    <section id="starter-section" class="starter-section section">

        <!-- Section Title -->
        <div class="container section-title">
            <h2>Starter Section</h2>
            <div class="profile-img-area">
                <div id="profile-img">
                    <img th:if="${session.member.img_path == null}"
                         th:src="@{/images/profile/default_profile.svg}" alt="default_profile">
                    <img th:unless="${session.member.img_path == null}"
                         th:src="|@{/download/}${session.member.img_path}|" alt="member_profile">
                </div>
            </div>
            <button onclick="location.href='/hereevent/mypage/edit-profile-img'"
                    type="button" class="edit-img-btn">수정</button>
        </div><!-- End Section Title -->

        <div class="container">
            <div class="submenu">
                <a class="on" href="/hereevent/mypage"><h2>내 정보</h2></a>
                <a href="/hereevent/myinterest"><h2>관심 내역</h2></a>
                <a href="/hereevent/myreview"><h2>후기 관리</h2></a>
                <a href="/hereevent/myevent"><h2>행사 내역</h2></a>
            </div>
            <ul class="profile-text-area">
                <li><span>이름</span>
                    <p th:text="${session.member.name}"></p></li>
                <li><span>닉네임</span>
                    <p>[[${session.member.nick}]]
                        <button onclick="location.href='/hereevent/mypage/edit-nick'"
                                type="button" class="edit-btn">수정</button></p></li>
                <li><span>이메일</span>
                    <p th:text="${session.member.email}"></p></li>
                <li><span>연락처</span>
                    <p th:text="${session.member.tel}"></p></li>
                <li><span>생일</span>
                    <p th:if="${session.member.birth != null}">[[${session.member.birth}]]
                        <button onclick="location.href='/hereevent/mypage/edit-birth'"
                                type="button" class="edit-btn">수정</button></p>
                    <p th:unless="${session.member.birth != null}">&nbsp
                        <button onclick="location.href='/hereevent/mypage/edit-birth'"
                                type="button" class="edit-btn">등록</button></p>
                </li>
            </ul>
        </div>

    </section>

</main>
</body>
</html>