<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS File -->
    <link href="/hereevent/common/css/mypage.css" rel="stylesheet">
    <link href="/hereevent/common/css/starRate.css" rel="stylesheet">
    <!-- js File -->
    <script type="text/javascript" src="/hereevent/common/js/starRate.js"></script>
    <script>
        $(document).ready(function() {
            $(".delete-review-btn").click(function () {
                if (confirm("후기를 삭제하시겠습니까?") === true) {
                    let form = document.createElement("form");
                    let obj = document.createElement("input");
                    obj.setAttribute("type", "hidden");
                    obj.setAttribute("name", "review_no");
                    obj.setAttribute("value", $(this).val());

                    form.appendChild(obj);
                    form.setAttribute("method", "post");
                    form.setAttribute("action", "/hereevent/myreview/delete");
                    document.body.appendChild(form);
                    form.submit();
                }
            });
        });
    </script>

    <title>HereEvent-MyReview</title>
</head>
<body>
<main layout:fragment="main" class="main">

    <!-- Page Title -->
    <div class="page-title">
        <div class="container">
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="/hereevent">Home</a></li>
                    <li class="current">마이페이지</li>
                </ol>
            </nav>
            <h1>마이페이지</h1>
        </div>
    </div><!-- End Page Title -->

    <!-- Starter Section Section -->
    <section id="starter-section" class="starter-section section">

        <div class="container">
            <div class="submenu">
                <a href="/hereevent/mypage"><h5>프로필</h5></a>
                <a href="/hereevent/myinterest"><h5>관심</h5></a>
                <a class="on" href="/hereevent/myreview"><h5>후기</h5></a>
                <a href="/hereevent/myevent"><h5>이벤트</h5></a>
            </div>
        </div>

        <!-- Section Title -->
        <div class="container section-title">
            <h2>작성한 후기 [[${reviewList.size()}]] 개</h2>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="review-comments">
                <div th:id="|comment-${i.count}|" class="comment" th:each="review, i : ${reviewList}">
                    <div class="d-flex">
                        <div class="col-md-2 align-self-start review-event-img">
                            <img th:if="${review.img_path == null}"
                                 th:src="@{/images/default_img.png}" alt="default_event">
                            <img th:unless="${review.img_path == null}"
                                 th:src="|@{/download/event/}${review.img_path}|" th:alt="${review.img_path}">
                        </div>
                        <div class="col-md-10 row justify-content-between review-content">
                            <h5 class="col event-name">[[${review.name}]]</h5>
                            <h6 class="col text-md-end buttons">
                                <a th:href="|@{/event/}${review.event_no}|" class="reply">
                                    <i class="bi bi-reply-fill"></i>팝업 상세보기</a>
                                <button th:onclick="|location.href='@{/myreview/update(review_no=${review.review_no})}'|" class="reply edit-review-btn">
                                    <i class="bi bi-pencil"></i>후기 수정하기</button>
                                <button class="reply delete-review-btn" th:value="${review.review_no}">
                                    <i class="bi bi-trash"></i>후기 삭제하기</button>
                            </h6>

                            <div class="rating readonly">
                                <label class="rating-label rating-label-half">
                                    <input type="radio" class="rating-input" th:name="${review.review_no}"
                                           th:checked="${review.star == 0.5} ? true : false">
                                    <span class="star-icon"></span>
                                </label>
                                <label class="rating-label rating-label-full">
                                    <input type="radio" class="rating-input" th:name="${review.review_no}"
                                           th:checked="${review.star == 1.0} ? true : false">
                                    <span class="star-icon"></span>
                                </label>
                                <label class="rating-label rating-label-half">
                                    <input type="radio" class="rating-input" th:name="${review.review_no}"
                                           th:checked="${review.star == 1.5} ? true : false">
                                    <span class="star-icon"></span>
                                </label>
                                <label class="rating-label rating-label-full">
                                    <input type="radio" class="rating-input" th:name="${review.review_no}"
                                           th:checked="${review.star == 2.0} ? true : false">
                                    <span class="star-icon"></span>
                                </label>
                                <label class="rating-label rating-label-half">
                                    <input type="radio" class="rating-input" th:name="${review.review_no}"
                                           th:checked="${review.star == 2.5} ? true : false">
                                    <span class="star-icon"></span>
                                </label>
                                <label class="rating-label rating-label-full">
                                    <input type="radio" class="rating-input" th:name="${review.review_no}"
                                           th:checked="${review.star == 3.0} ? true : false">
                                    <span class="star-icon"></span>
                                </label>
                                <label class="rating-label rating-label-half">
                                    <input type="radio" class="rating-input" th:name="${review.review_no}"
                                           th:checked="${review.star == 3.5} ? true : false">
                                    <span class="star-icon"></span>
                                </label>
                                <label class="rating-label rating-label-full">
                                    <input type="radio" class="rating-input" th:name="${review.review_no}"
                                           th:checked="${review.star == 4.0} ? true : false">
                                    <span class="star-icon"></span>
                                </label>
                                <label class="rating-label rating-label-half">
                                    <input type="radio" class="rating-input" th:name="${review.review_no}"
                                           th:checked="${review.star == 4.5} ? true : false">
                                    <span class="star-icon"></span>
                                </label>
                                <label class="rating-label rating-label-full">
                                    <input type="radio" class="rating-input" th:name="${review.review_no}"
                                           th:checked="${review.star == 5.0} ? true : false">
                                    <span class="star-icon"></span>
                                </label>
                            </div>

                            <span class="review-date" th:text="${review.write_date}"></span>

                            <div class="review-img">
                                <div th:each="review_img : ${review.review_imgs}">
                                    <img th:src="|@{/download/review/}${review_img.img_path}|" th:alt="${review_img.img_path}">
                                </div>
                            </div>

                            <p class="comment-content" th:text="${review.content}"></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section><!-- /Starter Section Section -->

</main>
</body>
</html>