<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HereEvent-Footer</title>
</head>
<body>
<footer th:fragment="footer" id="footer" class="footer">

    <div class="container footer-top">
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6 footer-about">
                <a href="/hereevent/main" class="logo d-flex align-items-center">
                    <span class="sitename" >📍HereEvent</span>
                </a>
                <div class="footer-contact pt-3">
                    <p><strong>📤메일</strong></p>
                    <p><span>sy0223lee@gmail.com</span></p>
                    <p><span>byu1118@gmail.com</span></p>
                    <p><span>cjh980315@gmail.com</span></p>
                    <p><span>parkson0408@gmail.com</span></p>
                    <p><span>ju417@hanmail.net</span></p>
                </div>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
                <h4>ℹ️링크</h4>
                <ul>
                    <li><a href="/hereevent/main">Home</a></li>
                    <li><a href="/hereevent/list?type=all">Event List</a></li>
                    <li><a href="/hereevent/map">Map</a></li>
                    <li><a href="https://www.multicampus.com/main">MultiCampus</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
                <h4>✒️주요 기능</h4>
                <ul>
                    <li>예약</li>
                    <li>대기</li>
                    <li>지도</li>
                    <li>🎀</li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-3 search-widget flex-fill">
                <h4>🔎Search</h4>
                <form action="/hereevent/search" method="get" class="form-inline p-2 bd-highlight">
                    <input type="text" name="keyword" class="form-control" placeholder="검색어" required>
                    <button type="submit"><i class="bi bi-search"></i>
                    </button>
                </form>
            </div>

        </div>
    </div>

    <div class="container copyright text-center mt-4">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">HereEvent</strong> <span>All Rights Reserved</span></p>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you've purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>

</footer>
</body>
</html>