<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/hereevent/common/css/header.css">
    <title>HereEvent - Header</title>
</head>
<body>
<header th:fragment="header" id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

        <a href="/hereevent" class="logo d-flex align-items-center me-auto">
            <img src="/hereevent/images/logo/here-event_logo.png" alt="HereEvent">
        </a>
        <form action="/hereevent/search" method="post" class="search-form">
            <input type="text" name="query" placeholder="검색어를 입력하세요" required>
            <button type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="#hero" class="active"><i class="bi bi-geo-alt"></i><br></a></li>
                <li><a href="/hereevent/mypage"><i class="bi bi-person-circle"></i></a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <a class="btn-getstarted" href="/hereevent/login">Login</a>

    </div>

</header>
</body>
</html>