<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HereEvent-Wait</title>
    <link href="/hereevent/common/css/register.css" rel="stylesheet">
    <style>

    </style>
</head>

<body>
<main layout:fragment="main" class="main">
    <!-- Page Title -->
    <div class="page-title">
        <div class="container">
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="/hereevent/main">Home</a></li>
                    <li><a href="/hereevent/login">로그인</a></li>
                    <li class="current">대기</li>
                </ol>
            </nav>
            <h1>대기 확인 로그인</h1>
        </div>
    </div>
    <!-- End Page Title -->

    <div class="container section-title">
        <h2>대기 확인 로그인</h2>
    </div>

    <div class="login-container">
        <form action="/hereevent/wait/login" method="post">
            <label for="wait_tel">전화번호</label>
            <input type="text" id="wait_tel" name="wait_tel" placeholder="전화번호를 입력하세요 (ex)010-0000-0000)"
                   th:value="${session.member != null} ? ${session.member.tel} : ''"> <!--로그인 되어있으면 전화번호 자동 입력-->

            <button type="submit" class="btn btn-primary w-100">로그인</button>
        </form>
    </div>

    <script>
        window.onload = function() {

            const params = new URLSearchParams(window.location.search);
            const errorMessage = params.get('errorMessage');
            if (errorMessage) {
                alert(errorMessage);
            }
        }
    </script>
</main>

</body>
</html>
