<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{detailedPage/detailedPage}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>HereEvent-EventDetail</title>
</head>

<body>
<div layout:fragment="content">
    <div>
        <p>장소: <span th:text="${event.addr}"></span></p>
        <p>시작 날짜: <span th:text="${event.start_date}"></span></p>
        <p>종료 날짜: <span th:text="${event.end_date}"></span></p>
        <p>설명: <span th:text="${event.info}"></span></p>
        <p>홈페이지: <a th:href="${event.homepage}" th:text="${event.homepage}"></a></p>
        <p>SNS: <a th:href="${event.sns}" th:text="${event.sns}"></a></p>
    </div>
</div>
</body>
</html>