<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{detailedPage/detailedPage}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    &lt;!&ndash; Fonts &ndash;&gt;
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    &lt;!&ndash; CSS File &ndash;&gt;
    <link href="/hereevent/common/css/detailedPage.css" rel="stylesheet">

    <title>이벤트 상세 정보</title>
    &lt;!&ndash; Js File &ndash;&gt;
    <link href="/hereevent/common/js/main.js" rel="stylesheet">-->
</head>

<body>
<div layout:fragment="content">
    <div th:fragment="content">
        <article class="article">
            <div>
                <p>장소: <span th:text="${event.addr}"></span></p>
                <p>시작 날짜: <span th:text="${event.start_date}"></span></p>
                <p>종료 날짜: <span th:text="${event.end_date}"></span></p>
                <p>설명: <span th:text="${event.info}"></span></p>
                <p>홈페이지: <a th:href="${event.homepage}" th:text="${event.homepage}"></a></p>
                <p>SNS: <a th:href="${event.sns}" th:text="${event.sns}"></a></p>
            </div>
        </article>
    </div>
</div>
</body>
</html>