<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{detailedPage/detailedPage}">
<head>
    <title>이벤트 상세 정보</title>
</head>
<body>
<div layout:fragment="content">
    <div th:fragment="content">
        <article class="article">
            <h2 class="title">이벤트 상세페이지</h2>
            <div>
                <p>이벤트명: <span th:text="${event.name}"></span></p>
                <p>장소: <span th:text="${event.location}"></span></p>
                <p>시작 날짜: <span th:text="${event.start_date}"></span></p>
                <p>종료 날짜: <span th:text="${event.end_date}"></span></p>
                <p>설명: <span th:text="${event.info}"></span></p>
                <p>홈페이지: <a th:href="${event.homepage}" th:text="${event.homepage}"></a></p>
                <p>SNS: <a th:href="${event.sns}" th:text="${event.sns}"></a></p>
            </div>
        </article>
    </div>
</div>
</body>
</html>