<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- CSS File -->
    <link href="/hereevent/common/css/detailedPage.css" rel="stylesheet">

    <title>이벤트 상세 페이지</title>
    <script>
        function scrollToSection(sectionId) {
            var element = document.getElementById(sectionId);
            if (element) {
                element.scrollIntoView({ behavior: 'smooth' });
            }
        }
    </script>

    <title>HereEvent-EventDetail</title>
</head>
<body class="blog-details-page">
<main layout:fragment="main" class="main">

    <!-- Page Title -->
    <div class="page-title">
        <div class="container">
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="#">Home</a></li>
                    <li class="current">Blog Details</li>
                </ol>
            </nav>
            <h1>팝업 세부정보</h1>
        </div>
    </div><!-- End Page Title -->


    <div class="container">
        <div class="row">
            <!-- Blog Details Section -->
            <div id="blog-details" class="col-lg-8 blog-details section">
                <div class="container">
                    <article class="article">
                        <div class="post-img">
                            <div th:each="imgPath : ${event.img_path}">
                                <img th:src="|@{/download/event/}${imgPath}|" th:alt="${imgPath}" alt="Event Image" />
                            </div>
                        </div>

                        <!--                사진 슬라이드        <div class="post-img">-->
                        <!--                        <div class="slider__wrap">-->
                        <!--                            <div th:each="imgPath : ${event.img_path}">-->
                        <!--                                <div class="slider s1">-->

                        <!--                                    <img th:src="|@{/download/event}${imgPath}|" th:alt="${imgPath}" alt="Event Image" />-->
                        <!--                                </div>-->
                        <!--                            </div>-->

                        <!--                            <div class="slider__btn">-->
                        <!--                                <a href="#" class="prev" title="이전이미지">prev</a>-->
                        <!--                                <a href="#" class="next" title="다음이미지">next</a>-->
                        <!--                            </div>-->
                        <!--                            <div class="slider__dot"></div>-->
                        <!--                        </div>-->
                        <!--                        </div>-->

                        <h2 class="title"><span th:text="${event.name}"></span></h2>
                        <div class="container">
                            <div class="submenu">
                                <a href="javascript:void(0);" onclick="scrollToSection('content-section')" class="nav-item" th:classappend="${tab == 'content'} ? 'active' : ''" data-tab="content">상세정보</a>
                                <a href="javascript:void(0);" onclick="scrollToSection('navigation-section')" class="nav-item" th:classappend="${tab == 'map'} ? 'active' : ''" data-tab="map">길찾기</a>
                                <a href="javascript:void(0);" onclick="scrollToSection('reservation-section')" class="nav-item" th:classappend="${tab == 'reservation'} ? 'active' : ''" data-tab="reservation">예약</a>
                                <a href="javascript:void(0);" onclick="scrollToSection('reviews-section')" class="nav-item" th:classappend="${tab == 'reviews'} ? 'active' : ''" data-tab="reviews">후기</a>
                            </div>
                        </div>
                        <article id="content-section" class="article">
                            <!-- 상세 정보 -->
                            <th:block th:replace="~{detailedPage/content :: content}"></th:block>
                        </article>

                        <article id="navigation-section" class="article">
                            <!-- 길찾기 내용 -->
                            <th:block th:replace="~{detailedPage/navigation :: navigation}"></th:block>
                        </article>

                        <article id="reservation-section" class="article">
                            <!-- 예약 내용 -->
                            <th:block th:replace="~{detailedPage/reservation :: reservation}"></th:block>
                        </article>

                        <article id="reviews-section" class="article">
                            <!-- 후기 내용 -->
                            <th:block th:replace="~{detailedPage/review :: review}"></th:block>
                        </article>

                    </article>
                </div>
            </div><!-- /Blog Details Section -->

            <div class="col-lg-4 sidebar">

                <div class="widgets-container">

                    <!-- Search Widget -->
                    <div class="search-widget widget-item">

                        <h3 class="widget-title">Search</h3>
                        <form action="">
                            <input type="text">
                            <button type="submit"><i class="bi bi-search"></i></button>
                        </form>

                    </div><!--/Search Widget -->

                    <!-- Categories Widget -->
                    <div class="categories-widget widget-item">

                        <h3 class="widget-title">Categories</h3>
                        <ul class="mt-3">
                            <li><a href="#">General <span>(25)</span></a></li>
                            <li><a href="#">Lifestyle <span>(12)</span></a></li>
                            <li><a href="#">Travel <span>(5)</span></a></li>
                            <li><a href="#">Design <span>(22)</span></a></li>
                            <li><a href="#">Creative <span>(8)</span></a></li>
                            <li><a href="#">Educaion <span>(14)</span></a></li>
                        </ul>

                    </div><!--/Categories Widget -->

                    <!-- Tags Widget -->
                    <div class="tags-widget widget-item">

                        <h3 class="widget-title">Tags</h3>
                        <ul>
                            <li><a href="#">App</a></li>
                            <li><a href="#">IT</a></li>
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Mac</a></li>
                            <li><a href="#">Design</a></li>
                            <li><a href="#">Office</a></li>
                            <li><a href="#">Creative</a></li>
                            <li><a href="#">Studio</a></li>
                            <li><a href="#">Smart</a></li>
                            <li><a href="#">Tips</a></li>
                            <li><a href="#">Marketing</a></li>
                        </ul>

                    </div><!--/Tags Widget -->

                </div><!-- /widget container-->
            </div><!-- sidebar-->
            
        </div>
    </div>

</main>

</body>
</html>


