<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>HereEvent-EventDetail</title>
</head>

<body>
<div th:fragment="review">
    <h2 class="title">이벤트 후기</h2>
    <!- Blog Comments Section ->
    <section id="blog-comments" class="blog-comments section">

        <div class="container">

            <h4 class="comments-count">[[${reviewList.size()}]] Reviews</h4>

            <div th:id="|comment-${i.count}|" class="comment" th:each="review, i : ${reviewList}">
                <div class="d-flex">
                    <div class="comment-img">
                        <img th:if="${review.img_path == null}"
                             th:src="@{/images/profile/default_profile.svg}" alt="default_profile">
                        <img th:unless="${review.img_path == null}"
                             th:src="|@{/download/profile/}${review.img_path}|" alt="member_profile">
                    </div>
                    <div>
                        <h5 th:text="${review.nick}"></h5>

                        <div class="rating readonly">
                            <label class="rating-label rating-label-half">
                                <input type="radio" class="rating-input" th:name="${review.review_no}"
                                       th:checked="${review.star == 0.5} ? true : false">
                                <span class="star-icon"></span>
                            </label>
                            <label class="rating-label rating-label-full">
                                <input type="radio" class="rating-input" th:name="${review.review_no}"
                                       th:checked="${review.star == 1.0} ? true : false">
                                <span class="star-icon"></span>
                            </label>
                            <label class="rating-label rating-label-half">
                                <input type="radio" class="rating-input" th:name="${review.review_no}"
                                       th:checked="${review.star == 1.5} ? true : false">
                                <span class="star-icon"></span>
                            </label>
                            <label class="rating-label rating-label-full">
                                <input type="radio" class="rating-input" th:name="${review.review_no}"
                                       th:checked="${review.star == 2.0} ? true : false">
                                <span class="star-icon"></span>
                            </label>
                            <label class="rating-label rating-label-half">
                                <input type="radio" class="rating-input" th:name="${review.review_no}"
                                       th:checked="${review.star == 2.5} ? true : false">
                                <span class="star-icon"></span>
                            </label>
                            <label class="rating-label rating-label-full">
                                <input type="radio" class="rating-input" th:name="${review.review_no}"
                                       th:checked="${review.star == 3.0} ? true : false">
                                <span class="star-icon"></span>
                            </label>
                            <label class="rating-label rating-label-half">
                                <input type="radio" class="rating-input" th:name="${review.review_no}"
                                       th:checked="${review.star == 3.5} ? true : false">
                                <span class="star-icon"></span>
                            </label>
                            <label class="rating-label rating-label-full">
                                <input type="radio" class="rating-input" th:name="${review.review_no}"
                                       th:checked="${review.star == 4.0} ? true : false">
                                <span class="star-icon"></span>
                            </label>
                            <label class="rating-label rating-label-half">
                                <input type="radio" class="rating-input" th:name="${review.review_no}"
                                       th:checked="${review.star == 4.5} ? true : false">
                                <span class="star-icon"></span>
                            </label>
                            <label class="rating-label rating-label-full">
                                <input type="radio" class="rating-input" th:name="${review.review_no}"
                                       th:checked="${review.star == 5.0} ? true : false">
                                <span class="star-icon"></span>
                            </label>
                        </div>

                        <span th:text="${review.write_date}"></span>
                        <p class="comment-content" th:text="${review.content}"></p>
                    </div>
                </div>
            </div><!- End comment #1 ->

            <div class="reply-form" th:if="${session.member != null}">

                <h4>Leave a Review</h4>
                <p>Required fields are marked * </p>
                <form action="/hereevent/review/insert" method="post" enctype="multipart/form-data">
                    <input type="hidden" th:name="event_no" th:value="${event.event_no}">
                    <input type="hidden" th:name="member_no" th:value="${session.member.member_no}">
                    <div class="row">
                        <div class="col-md-2 form-group comment-img">
                            <img th:if="${session.member.img_path == null}"
                                 th:src="@{/images/profile/default_profile.svg}" alt="default_profile">
                            <img th:unless="${session.member.img_path == null}"
                                 th:src="|@{/download/profile/}${session.member.img_path}|" alt="member_profile">
                        </div>
                        <div class="col-md-10 form-group">
                            <h4 th:text="${session.member.nick}"></h4>

                            <div class="rating">
                                <label class="rating-label rating-label-half" for="starhalf">
                                    <input type="radio" id="starhalf" class="rating-input" name="star" value="0.5">
                                    <span class="star-icon"></span>
                                </label>
                                <label class="rating-label rating-label-full" for="star1">
                                    <input type="radio" id="star1" class="rating-input" name="star" value="1.0">
                                    <span class="star-icon"></span>
                                </label>
                                <label class="rating-label rating-label-half" for="star1half">
                                    <input type="radio" id="star1half" class="rating-input" name="star" value="1.5">
                                    <span class="star-icon"></span>
                                </label>
                                <label class="rating-label rating-label-full" for="star2">
                                    <input type="radio" id="star2" class="rating-input" name="star" value="2.0">
                                    <span class="star-icon"></span>
                                </label>
                                <label class="rating-label rating-label-half" for="star2half">
                                    <input type="radio" id="star2half" class="rating-input" name="star" value="2.5">
                                    <span class="star-icon"></span>
                                </label>
                                <label class="rating-label rating-label-full" for="star3">
                                    <input type="radio" id="star3" class="rating-input" name="star" value="3.0">
                                    <span class="star-icon"></span>
                                </label>
                                <label class="rating-label rating-label-half" for="star3half">
                                    <input type="radio" id="star3half" class="rating-input" name="star" value="3.5">
                                    <span class="star-icon"></span>
                                </label>
                                <label class="rating-label rating-label-full" for="star4">
                                    <input type="radio" id="star4" class="rating-input" name="star" value="4.0">
                                    <span class="star-icon"></span>
                                </label>
                                <label class="rating-label rating-label-half" for="star4half">
                                    <input type="radio" id="star4half" class="rating-input" name="star" value="4.5">
                                    <span class="star-icon"></span>
                                </label>
                                <label class="rating-label rating-label-full" for="star5">
                                    <input type="radio" id="star5" class="rating-input" name="star" value="5.0" checked>
                                    <span class="star-icon"></span>
                                </label>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col form-group">
                            <input type="file" name="files" placeholder="이미지 선택"
                                   class="form-control" multiple="multiple">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col form-group">
                            <textarea name="content" class="form-control" placeholder="Your Review*"></textarea>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Post Review</button>
                    </div>

                </form>

            </div>

        </div>

    </section><!- /Blog Comments Section ->
</div>
</body>
</html>