<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{detailedPage}">
<head>
    <title>Insert title here</title>
</head>
<body>
<div layout:fragment="content">
    <section id="blog-comments" class="blog-comments section">

        <div class="container">

            <h4 class="comments-count">8 Comments</h4>

            <div id="comment-1" class="comment">
                <div class="d-flex">
                    <div class="comment-img"><img src="assets/img/blog/comments-1.jpg" alt=""></div>
                    <div>
                        <h5><a href="">Georgia Reader</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                        <time datetime="2020-01-01">01 Jan,2022</time>
                        <p>후기 내용...</p>
                    </div>
                </div>
            </div>
            <!-- 추가 후기 내용 -->
        </div>
    </section>
</div>
</body>
</html>