<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{detailedPage/detailedPage}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>HereEvent-EventDetail</title>
</head>

<body>
<div layout:fragment="content">
    <div th:fragment="content">
        <article class="article">
            <h2 class="title">이벤트 후기</h2>

        </article>
    </div>
</div>
</body>
</html>