<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS File -->

    <link href="/hereevent/common/css/detailedPage.css" rel="stylesheet">
    <link href="/hereevent/common/css/mywait.css" rel="stylesheet">

    <title>MyWait</title>
</head>

<body>
<main layout:fragment="main" class="main">
    <!-- Page Title -->
    <div class="page-title">
        <div class="container">
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="/hereevent">Home</a></li>
                    <li class="current">현재 대기 현황</li>
                </ol>
            </nav>
            <h1>현재 대기 현황</h1>
        </div>
    </div><!-- End Page Title -->

    <!-- Starter Section Section -->

    <div class="container">
        <div class="submenu">
            <h2>현재 대기 현황</h2>

        </div>
    </div>
    <!-- Section Title -->
    <div class="container section-title">
        <h2>팝업스토어</h2>

            <input type="hidden" th:name="event_no" th:value="${event.event_no}">


            <section class="event-details">
                <div class="event-info">
                    <div class="post-img">

                </div>
                    <div class="post-img">
                    <div class="event-image">
                        <img th:src="@{'/download/event/' + ${event.img_path}}" th:alt="${firstImgPath}" alt="Event Image" />
                    </div>
                    </div>
                    <div class="event-details-text">
                        <p>행사 제목: <span th:text="${event.name}"></span></p>

                        <p>주소: <span th:text="${event.addr}"></span></p>
                    </div>
                </div>

                <div class="waiting-info">
                    <span class="waiting-label">현재 대기 인원</span>
                    <span class="waiting-count" th:text="${waitingCount} + ' 명'"></span>
                    <span>팝업스토어 앞에서 대기 등록 가능합니다.</span>
                </div>

            </section>

    </div>


</main>

</body>

</html>