<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/hereevent/common/css/mypage.css" rel="stylesheet">
    <title>카테고리 선택</title>

    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function() {
            $(".MuiButton-contained.default").click(function () {
                let category_no = $(this).val();
                location.href = "/hereevent/interestCategory/insert?category_no=" + $(this).val();
            });
            $(".MuiButton-contained.picked").click(function () {
                let category_no = $(this).val();
                location.href = "/hereevent/interestCategory/delete?category_no=" + $(this).val();
            });
        });
    </script>
</head>
<body>

<main layout:fragment="main" class="main">
    <section id="starter-section" class="starter-section section">
        <div class="container">
            <div class="interest-category">
                <h1>관심 카테고리 선택</h1>

                    <input type="hidden" name="member_no" th:value="${session.member.member_no}">
                    <div class="MuiStack-root category-select css-13mr7ti-MuiStack-root">
                        <button type="button" class="MuiButtonBase-root MuiButton-root MuiButton-contained" tabindex="0"
                                th:each="category, i : ${categoryList}" th:value="${category.category_no}"
                                th:classappend="${category.member_no == 0} ? 'default' : 'picked'">
                            <span class="MuiButton-label" th:text="${category.name}"></span>
                            <span class="MuiTouchRipple-root"></span>
                        </button>
                    </div>
                <form action="/hereevent/interestCategory" method="post">
                    <button type="submit">가입완료</button>
                </form>
            </div>
        </div>
    </section>
</main>
</body>
</html>
