<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/hereevent/common/css/mypage.css" rel="stylesheet">
    <link href="/hereevent/common/css/register.css" rel="stylesheet">
    <title>HereEvent-SignUp</title>

    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function() {
            $(".category-btn.default").click(function () {
                let category_no = $(this).val();
                location.href = "/hereevent/interestCategory/insert?category_no=" + $(this).val();
            });
            $(".category-btn.picked").click(function () {
                let category_no = $(this).val();
                location.href = "/hereevent/interestCategory/delete?category_no=" + $(this).val();
            });
        });
    </script>
</head>
<body>

<main layout:fragment="main" class="main">
    <!-- Page Title -->
    <div class="page-title">
        <div class="container">
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="/hereevent/main">Home</a></li>
                    <li class="current">회원가입</li>
                </ol>
            </nav>
            <h1>관심 카테고리 선택</h1>
        </div>
    </div><!-- End Page Title -->

    <!-- Section Title -->
    <div class="container section-title">
        <h2>관심있는 카테고리를 선택하세요</h2>
    </div><!-- End Section Title -->


    <div id="starter-section"  class="container">

        <div class="interest-category d-flex justify-content-center">
            <input type="hidden" name="member_no" th:value="${session.member.member_no}">
            <div class="category-select text-center">
                <button type="button" class="category-btn"
                        th:each="category, i : ${categoryList}" th:value="${category.category_no}"
                        th:classappend="${category.member_no == 0} ? 'default' : 'picked'">
                    <span th:text="${category.name}"></span>
                </button>
            </div>
        </div>

        <div class="go-home-btn d-flex justify-content-center">
            <button type="button" class="btn btn-primary" onclick="location.href='/hereevent/main'">홈으로 가기</button>
        </div>
    </div>

</main>
</body>
</html>
