<!DOCTYPE html>
<html lang="UTF-8" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HereEvent Login</title>
    <link href="/hereevent/common/css/login.css" rel="stylesheet">
    <style>

    </style>
</head>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script>
    Kakao.init('0d19fdc001af9930a452b64e7f7e0bef'); //발급받은 키 중 javascript키를 사용해준다.
    console.log(Kakao.isInitialized()); // sdk초기화여부판단
    //카카오로그인
    function kakaoLogin() {
        Kakao.Auth.login({
          success: function (response) {
            Kakao.API.request({
              url: '/v2/user/me',
              success: function (response) {
                  console.log(response)
                  window.location.href = '/hereevent/mypage';
              },
              fail: function (error) {
                console.log(error)
              },
            })
          },
          fail: function (error) {
            console.log(error)
          },
        })
      }
    //카카오로그아웃
    function kakaoLogout() {
        if (Kakao.Auth.getAccessToken()) {
          Kakao.API.request({
            url: '/v1/user/unlink',
            success: function (response) {
                console.log(response)
            },
            fail: function (error) {
              console.log(error)
            },
          })
          Kakao.Auth.setAccessToken(undefined)
        }
      }
</script>
<body>
<div class="login-container">
    <h2>로그인</h2>
    <form action="/hereevent/login" method="post">
        <label for="email">이메일</label>
        <input type="text" id="email" name="email" placeholder="이메일을 입력하세요">

        <label for="pass">비밀번호</label>
        <input type="password" id="pass" name="pass" placeholder="비밀번호를 입력하세요">

        <div class="extra-options">
            <label>
                <input type="checkbox" name="remember"> 아이디 저장
            </label>
        </div>

        <button type="submit" class="login">로그인</button>
    </form>
    <div class="links">
        <a href="/hereevent/register">회원가입</a>
        <a href="#">아이디/비밀번호 찾기</a>
    </div>
    <div class="social-login">
        <button class="kakao-login" title="카카오 로그인" onclick="kakaoLogin()"></button>
        <button class="naver-login" title="네이버 로그인"></button>
    </div>
</div>
</body>
</html>
