<!DOCTYPE html>
<html lang="UTF-8" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HereEvent Login</title>
    <link href="/hereevent/common/css/login.css" rel="stylesheet">
    <style>

    </style>
</head>
<body>
<div class="login-container">
    <h2>로그인</h2>
    <form action="/hereevent/login" method="post">
        <label for="email">이메일</label>
        <input type="text" id="email" name="email" placeholder="이메일을 입력하세요">

        <label for="pass">비밀번호</label>
        <input type="password" id="pass" name="pass" placeholder="비밀번호를 입력하세요">

        <div class="extra-options">
            <label>
                <input type="checkbox" name="remember"> 아이디 저장
            </label>
        </div>

        <button type="submit" class="login">로그인</button>
    </form>
    <div class="links">
        <a href="/hereevent/register">회원가입</a>
        <a href="#">아이디/비밀번호 찾기</a>
    </div>
    <div class="social-login">
        <button class="kakao-login" title="카카오 로그인"></button>
        <button class="naver-login" onclick="location.href='/hereevent/login/naver'" title="네이버 로그인"></button>
    </div>
</div>
</body>
</html>
