<!DOCTYPE html >
<html lang="UTF-8" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HereEvent Register</title>
    <link href="/hereevent/common/css/register.css" rel="stylesheet">
    <script type="text/javascript" src="/hereevent/common/js/register.js"></script>
    <script type="text/javascript">
    </script>
</head>
<body>
<main layout:fragment="main" class="main">
    <!-- Page Title -->
    <div class="page-title">
        <div class="container">
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="/hereevent/main">Home</a></li>
                    <li class="current">이벤트</li>
                </ol>
            </nav>
            <h1>이벤트 상세정보</h1>
        </div>
    </div><!-- End Page Title -->
<div class="signup-container">
    <h2>회원가입</h2>
    <form id="regiForm" action="/hereevent/insert" method="post" enctype="multipart/form-data">
        <label for="email">이메일</label>
        <input type="email" id="email" name="email" placeholder="이메일을 입력하세요" required>
        <div id="check-duplicate-email"></div>
        <label for="pass">비밀번호</label>
        <input type="password" id="pass" name="pass" oninput="pwCheck()" placeholder="비밀번호를 입력하세요" required>
        <label for="passchk">비밀번호확인</label>
        <input type="password" id="passchk" name="passchk" oninput="pwCheck()" placeholder="비밀번호를 한번더 입력하세요" required>
        <div id="check-same-password"></div>
        <label for="name">이름</label>
        <input type="text" id="name" name="name" placeholder="이름을 입력하세요" required>

        <label for="nick">닉네임</label>
        <input type="text" id="nick" name="nick" placeholder="닉네임을 입력하세요" required>
        <div id="check-duplicate-nick"></div>
        <label for="tel">전화번호</label>
        <input type="tel" id="tel" name="tel" placeholder="전화번호를 입력하세요" required>

        <label for="birth">생년월일</label>
        <input type="date" id="birth" name="birth" placeholder="생년월일을 입력하세요">

        <label for="profile-pic">프로필 사진</label>
        <input type="file" id="profile-pic" name="profile_img" accept="image/*">

        <div class="extra-options">
            <label>
                <input type="checkbox" name="agree"> 이용약관에 동의합니다.
            </label>
        </div>

        <button class="regi_btn" type="submit">다음</button>
    </form>
    <div class="links">
        <a href="/hereevent/login">로그인</a>
        <a href="#">아이디/비밀번호 찾기</a>
    </div>
</div>
</main>

</body>
</html>
