<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>지도 버튼클릭 테스트</title>
        <style>

        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
    <body>
        <div>
            <input type="checkbox" class="btn-check" id="btn-check-4" autocomplete="off">
            <label class="btn" for="btn-check-4">Single toggle</label>

            <input type="checkbox" class="btn-check" id="btn-check-5" checked autocomplete="off">
            <label class="btn" for="btn-check-5">ㅇ</label>

            <div>
                <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
                <label class="btn btn-outline-primary" for="btn-check-outlined">Single toggle</label><br>

                <input type="checkbox" class="btn-check" id="btn-check-2-outlined" checked autocomplete="off">
                <label class="btn btn-outline-secondary" for="btn-check-2-outlined">Checked</label><br>
            </div>

            <div name="state">
                상태
                <input value="still" type="radio" class="btn-check" name="options-outlined" autocomplete="off">
                <label class="btn btn-outline-danger" for="seoul">진행중</label>

                <input value="open" type="radio" class="btn-check" name="options-outlined" autocomplete="off">
                <label class="btn btn-outline-danger" for="around">오픈예정</label>

                <input value="end" type="radio" class="btn-check" name="options-outlined" autocomplete="off">
                <label class="btn btn-outline-danger" for="busan">종료</label>
            </div>
            <div name="type">
                예약
                <input value="reserve" type="radio" class="btn-check" name="options-outlined" autocomplete="off">
                <label class="btn btn-outline-danger" for="seoul">사전예약</label>

                <input value="wait" type="radio" class="btn-check" name="options-outlined" autocomplete="off">
                <label class="btn btn-outline-danger" for="around">현장대기</label>

                <input value="both" type="radio" class="btn-check" name="options-outlined" autocomplete="off">
                <label class="btn btn-outline-danger" for="busan">사전예약+현장대기</label>
            </div>


            <div>
                <div>
                    핫플
                    <input type="radio" class="btn-check" name="options-outlined" id="seongsu" autocomplete="off" checked>
                    <label class="btn btn-outline-success" for="seongsu">성수</label>

                    <input type="radio" class="btn-check" name="options-outlined" id="jamsil" autocomplete="off">
                    <label class="btn btn-outline-danger" for="jamsil">잠실</label>

                    <input type="radio" class="btn-check" name="options-outlined" id="hongdae" autocomplete="off">
                    <label class="btn btn-outline-danger" for="hongdae">홍대</label>

                    <input type="radio" class="btn-check" name="options-outlined" id="gangnam" autocomplete="off">
                    <label class="btn btn-outline-danger" for="gangnam">강남</label>
                </div>
                <div>
                    지역
                    <input type="radio" class="btn-check" name="options-outlined" id="seoul" autocomplete="off">
                    <label class="btn btn-outline-danger" for="seoul">서울</label>

                    <input type="radio" class="btn-check" name="options-outlined" id="around" autocomplete="off">
                    <label class="btn btn-outline-danger" for="around">경기</label>

                    <input type="radio" class="btn-check" name="options-outlined" id="busan" autocomplete="off">
                    <label class="btn btn-outline-danger" for="busan">부산</label>
                </div>
                <div>
                    내주변
                    <input type="radio" class="btn-check" name="options-outlined" id="mylocation" autocomplete="off">
                    <label class="btn btn-outline-danger" for="mylocation">내위치</label>
                </div>
            </div>



            <div>
                <button onclick="getCurrentPosBtn()" type="button" id="myloc" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                    내위치
                </button>
            </div>
            <div>
                상태
                <button type="button" id="state-still" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                    진행중
                </button>
                <button type="button" id="state-open" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                    오픈예정
                </button>
                <button type="button" id="state-end" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                    종료
                </button>
            </div>
            <br/>
            <div>
                예약
                <button type="button" id="type-reserve" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                    사전예약
                </button>
                <button type="button" id="type-wait" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                    현장대기
                </button>
                <button type="button" id="type-both" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                    사전예약+현장대기
                </button>
            </div>
            <br/>

            <div>
                지역
                <button type="button" id="region-seoul" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                    서울
                </button>
                <button type="button" id="region-around" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                    경기
                </button>
                <button type="button" id="region-busan" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                    부산
                </button>
            </div>
            <br/>
            <div>
                핫플
                <button type="button" id="hot-seongsu" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                    성수
                </button>
                <button type="button" id="hot-jamsil" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                    잠실
                </button>
                <button type="button" id="hot-hongdae" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                    홍대
                </button>
                <button type="button" id="hot-gangnam" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                    강남
                </button>
            </div>

        </div>
        <div id="map" style="width:100%;height:350px;"></div>
        <table class="table">
            <thead>
            <tr>
                <th>이름</th>
                <th>시작날짜</th>
                <th>종료날짜</th>
                <th>위치</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="event:${list}">
                <td><span th:text="${event.name }"></span></td>
                <td><span th:text="${event.start_date }"></span></td>
                <td><span th:text="${event.end_date }"></span></td>
                <td><span th:text="${event.addr }"></span></td>
            </tr>
            </tbody>
        </table>
        <script type="text/javascript"
                src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1c7411c7e9cd13cdaac33d749ab11436&libraries=services"></script>
        <script th:inline="javascript">

            //JQuery를 이용해서 select에서 선택을 하면 컨트롤러가 요청되도록 처리
            //타임리프에서 사용하는 변수를 자바스크립트에서 사용하는 경우

            let state = /*[[${state}]]*/;
            let type = /*[[${type}]]*/;
            //컨트롤러를 요청하고 response될때 공유해준 값을 타임리프를 실행해서 받아오기
            //category자리에 자바스크립트에서 사용할 타임리프로 실행할 변수 넣기

            $(document).ready(function () {
                //선택된거에 셀렉티드속성을 주는..느낌?
                //select에서 선택된 option에 selected속성을 추가
                $("#state").val(state).attr("selected","selected")
                $("#state").change(function() {
                    //select가 변경되는 change이벤트가 발생하면 컨트롤러를 호출
                    location.href="/hereevent/map/clicktest?state="+$(this).val()
                })
                $("#type").val(type).attr("selected","selected")
                $("#type").change(function() {
                    //select가 변경되는 change이벤트가 발생하면 컨트롤러를 호출
                    location.href="/hereevent/map/clicktest?type="+$(this).val()
                })
            });



            // 초기 지도 옵션 설정
                var mapOption = {
                    center: new kakao.maps.LatLng(37.54366481430039, 127.05889745872842), // 초기 중심 좌표(성수)
                    level: 5 // 초기 확대 레벨
                };
            // 지도의 중심좌표를 담을 변수
                var mapContainer = document.getElementById('map');

            // 초기 지도 생성
                var map = new kakao.maps.Map(mapContainer, mapOption);


            function locationLoadSuccess(pos){
                // 현재 위치 받아오기
                var currentPos = new kakao.maps.LatLng(pos.coords.latitude,pos.coords.longitude);

                // 지도 이동(기존 위치와 가깝다면 부드럽게 이동)
                map.panTo(currentPos);
            };

            function locationLoadError(pos){
                alert('위치 정보를 가져오는데 실패했습니다.');
            };
            function getCurrentPosBtn(){
                navigator.geolocation.getCurrentPosition(locationLoadSuccess,locationLoadError);
            };


            // 성수 버튼 클릭 시 지도 옵션 변경
              document.getElementById('hot-seongsu').addEventListener('click', function() {
                  mapOption.center = new kakao.maps.LatLng(37.54366481430039, 127.05889745872842);
                  var map = new kakao.maps.Map(mapContainer, mapOption);
              });

            // 잠실 버튼 클릭 시 지도 옵션 변경
              document.getElementById('hot-jamsil').addEventListener('click', function() {
                  mapOption.center = new kakao.maps.LatLng(37.509358600639494, 127.1051299097808);
                  var map = new kakao.maps.Map(mapContainer, mapOption);
              });

            // 홍대 버튼 클릭 시 지도 옵션 변경
              document.getElementById('hot-hongdae').addEventListener('click', function() {
                  mapOption.center = new kakao.maps.LatLng(37.555849659619895, 126.94824554655163);
              });
            // 강남 버튼 클릭 시 지도 옵션 변경
              document.getElementById('hot-gangnam').addEventListener('click', function() {
                  mapOption.center = new kakao.maps.LatLng(37.49783159114859,127.0339598307763);
              });


            // 서울 버튼 클릭 시 지도 옵션 변경
              document.getElementById('region-seoul').addEventListener('click', function() {
                  mapOption.center = new kakao.maps.LatLng(37.53814735887608, 126.99898167513268);
                  mapOption.level = 8
              });

            // 경기도 버튼 클릭 시 지도 옵션 변경
              document.getElementById('region-around').addEventListener('click', function() {
                  mapOption.center = new kakao.maps.LatLng(37.369188031896265, 127.01776935446426);
                  mapOption.level = 10
              });

            // 부산 버튼 클릭 시 지도 옵션 변경
              document.getElementById('region-busan').addEventListener('click', function() {
                  mapOption.center = new kakao.maps.LatLng(35.137294960653996, 129.1042017597341);
                  mapOption.level = 9
              });



            var map = new kakao.maps.Map(mapContainer, mapOption); // 지도 생성

        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                crossorigin="anonymous"></script>
    </body>
</html>