<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>지도 버튼클릭 테스트</title>
        <style>
            .wrap {position: absolute;left: 0;bottom: 40px;width: 288px;height: 132px;margin-left: -144px;text-align: left;overflow: hidden;font-size: 12px;font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;line-height: 1.5;}
            .wrap * {padding: 0;margin: 0;}
            .wrap .info {width: 286px;height: 120px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
            .wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
            .info .title {padding: 5px 0 0 10px;height: 30px;background: #eee;border-bottom: 1px solid #ddd;font-size: 18px;font-weight: bold;}
            .info .close {position: absolute;top: 10px;right: 10px;color: #888;width: 17px;height: 17px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
            .info .close:hover {cursor: pointer;}
            .info .body {position: relative;overflow: hidden;}
            .info .desc {position: relative;margin: 13px 0 0 90px;height: 75px;}
            .desc .ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
            .desc .jibun {font-size: 11px;color: #888;margin-top: -2px;}
            .info .img {position: absolute;top: 6px;left: 5px;width: 73px;height: 71px;border: 1px solid #ddd;color: #888;overflow: hidden;}
            .info:after {content: '';position: absolute;margin-left: -12px;left: 50%;bottom: 0;width: 22px;height: 12px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
            .info .link {color: #5085BB;}
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
    <body>
        <div>
            <!--체크박스 버튼-->
           <div id="state">
               state
                <input value="still" type="checkbox" class="btn-check" id="still" autocomplete="off" checked>
                <label class="btn" for="still">still</label>

                <input value="open" type="checkbox" class="btn-check" id="open" autocomplete="off">
                <label class="btn" for="open">open</label>

                <input value="end" type="checkbox" class="btn-check" id="end" autocomplete="off">
                <label class="btn" for="end">end</label>
            </div>
            <div id="type">
                type
                <input value="reserve" type="radio" class="btn-check" name="options-base" id="reserve" autocomplete="off">
                <label class="btn" for="reserve">reserve</label>

                <input value="wait" type="radio" class="btn-check" name="options-base" id="wait" autocomplete="off">
                <label class="btn" for="wait">wait</label>

                <input value="both" type="radio" class="btn-check" name="options-base" id="both" autocomplete="off">
                <label class="btn" for="both">both</label>
            </div>

            <!--radio 버튼-->
            <div>
                <div>
                    핫플
                    <input type="radio" class="btn-check" name="options-outlined" id="seongsu" autocomplete="off" checked>
                    <label class="btn btn-outline-danger" for="seongsu">성수</label>

                    <input type="radio" class="btn-check" name="options-outlined" id="jamsil" autocomplete="off">
                    <label class="btn btn-outline-danger" for="jamsil">잠실</label>

                    <input type="radio" class="btn-check" name="options-outlined" id="hongdae" autocomplete="off">
                    <label class="btn btn-outline-danger" for="hongdae">홍대</label>

                    <input type="radio" class="btn-check" name="options-outlined" id="gangnam" autocomplete="off">
                    <label class="btn btn-outline-danger" for="gangnam">강남</label>
                </div>
                <div>
                    지역
                    <input type="radio" class="btn-check" name="options-outlined" id="seoul" autocomplete="off">
                    <label class="btn btn-outline-danger" for="seoul">서울</label>

                    <input type="radio" class="btn-check" name="options-outlined" id="around" autocomplete="off">
                    <label class="btn btn-outline-danger" for="around">경기</label>

                    <input type="radio" class="btn-check" name="options-outlined" id="busan" autocomplete="off">
                    <label class="btn btn-outline-danger" for="busan">부산</label>
                </div>
                <div>
                    내주변
                    <input type="radio" class="btn-check" name="options-outlined" id="mylocation" autocomplete="off">
                    <label class="btn btn-outline-success" for="mylocation">내위치</label>
                </div>
            </div>



        </div>
        <div id="map" style="width:100%;height:350px;"></div>
        <table id="eventlist" class="table">
            <thead>
                <tr>
                    <th>이름</th>
                    <th>시작날짜</th>
                    <th>종료날짜</th>
                    <th>위치</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="event:${list}">
                    <td><span th:text="${event.name }"></span></td>
                    <td><span th:text="${event.start_date }"></span></td>
                    <td><span th:text="${event.end_date }"></span></td>
                    <td><span th:text="${event.addr }"></span></td>
                </tr>
            </tbody>
        </table>
        <script type="text/javascript"
                src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1c7411c7e9cd13cdaac33d749ab11436&libraries=services"></script>
        <script th:inline="javascript">
            $(document).ready(function() {
                var myformdata = new FormData();
                $("#state>input").each(function() {
                    $(this).click(function() {
                        let state = $(this).val();
                        if ($(this).is(':checked')) {
                            myformdata.append("state", state);
                        } else {
                              // FormData에서 해당 값을 삭제하는 방법
                            let tempFormData = new FormData();
                            myformdata.forEach((value, key) => {
                                if (key !== 'state' || value !== state) {
                                    tempFormData.append(key, value);
                                }
                            });
                            myformdata = tempFormData;
                        }
                        $.ajax({
                            url : '/hereevent/map/clicktest/ajaxtest',
                            method: 'POST',
                            processData:false,
                            data:myformdata,
                            contentType:false,
                            success:function(data){
                                let printdata="";
                                data.forEach(event =>{
                                    printdata = printdata
                                    + "<tbody><tr>"
                                    + "<td><span>"+event.name+"</span></td>"
                                    + "<td><span>"+event.start_date+"</span></td>"
                                    + "<td><span>"+event.end_date+"</span></td>"
                                    + "<td><span>"+event.addr+"</span></td>"
                                    + "</tr></tbody>"
                                })
                                $("#eventlist").empty();//<tr>태그 모두 지우기
                                $("#eventlist").append(printdata)
                            }
                        })
                    });
                });
                $("#type>input").each(function() {
                    $(this).click(function() {
                        let type = $(this).val();
                        myformdata.delete("type");
                        myformdata.append("type", type);
                        $.ajax({
                            url : '/hereevent/map/clicktest/ajaxtest',
                            method: 'POST',
                            processData:false,
                            data:myformdata,
                            contentType:false,
                            success:function(data){
                                let printdata="";
                                data.forEach(event =>{
                                    printdata = printdata
                                    + "<tbody><tr>"
                                    + "<td><span>"+event.name+"</span></td>"
                                    + "<td><span>"+event.start_date+"</span></td>"
                                    + "<td><span>"+event.end_date+"</span></td>"
                                    + "<td><span>"+event.addr+"</span></td>"
                                    + "</tr></tbody>"
                                })
                                $("#eventlist").empty();//<tr>태그 모두 지우기
                                $("#eventlist").append(printdata)
                            }
                        })
                    });
                });

            });//end ready

        $(document).ready(function() {
               $.ajax({
                    url : '/hereevent/map/clicktest/ajaxtest',
                    method: 'POST',
                    success:function(result){
                        result.forEach(event =>{
                             <!--주소로 검색해서 마커-->

                            // 주소-좌표 변환 객체를 생성합니다
                            var geocoder = new kakao.maps.services.Geocoder();

                            // 주소로 좌표를 검색합니다
                            geocoder.addressSearch(event.addr, function(result, status) {

                                // 정상적으로 검색이 완료됐으면
                                 if (status === kakao.maps.services.Status.OK) {

                                    var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                                    // 결과값으로 받은 위치를 마커로 표시합니다
                                    var marker = new kakao.maps.Marker({
                                        map: map,
                                        position: coords
                                    });


                                    // 커스텀 오버레이에 표시할 컨텐츠 입니다
                                    // 커스텀 오버레이는 아래와 같이 사용자가 자유롭게 컨텐츠를 구성하고 이벤트를 제어할 수 있기 때문에
                                    // 별도의 이벤트 메소드를 제공하지 않습니다
                                    var content = '<div class="wrap">' +
                                                '    <div class="info">' +
                                                '        <div class="title">' +
                                                                event.name +
                                                '            <div class="close" onclick="closeOverlay()" title="닫기"></div>' +
                                                '        </div>' +
                                                '        <div class="body">' +
                                                '            <div class="img">' +
                                                '                <img src="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/thumnail.png" width="73" height="70">' +
                                                '           </div>' +
                                                '            <div class="desc">' +
                                                '                <div class="ellipsis">' + event.addr + '</div>' +
                                                '                <div>'+ event.start_date +'</div>' +
                                                '                <div>'+ event.end_date +'</div>' +
                                                '            </div>' +
                                                '        </div>' +
                                                '    </div>' +
                                                '</div>';

                                    // 마커 위에 커스텀오버레이를 표시합니다
                                    // 마커를 중심으로 커스텀 오버레이를 표시하기위해 CSS를 이용해 위치를 설정했습니다
                                    var overlay = new kakao.maps.CustomOverlay({
                                        content: content,
                                        position: marker.getPosition()
                                    });

                                     // 커스텀 오버레이를 닫기 위해 호출되는 함수입니다
                                    function closeOverlay() {
                                        overlay.setMap(null);
                                    }

                                    // 닫기 버튼에 클릭 이벤트를 추가합니다
                                    $(document).on('click', '.close', closeOverlay);

                                    // 마커를 클릭했을 때 커스텀 오버레이를 표시합니다
                                    kakao.maps.event.addListener(marker, 'click', function() {
                                        overlay.setMap(map);
                                    });
                            }
                        });
                    })
                }
            })
        });


        var map;
        var mapContainer = document.getElementById('map');
        var mapOption = {
            center: new kakao.maps.LatLng(37.54366481430039, 127.05889745872842), // 초기 중심 좌표(성수)
            level: 5 // 초기 확대 레벨
        };

        // 지도 생성
        map = new kakao.maps.Map(mapContainer, mapOption);




        <!--커스텀마커-->
        // 지도에 마커를 표시합니다
        var marker = new kakao.maps.Marker({
            map: map,
            position: new kakao.maps.LatLng(33.450701, 126.570667)
        });

        // 커스텀 오버레이에 표시할 컨텐츠 입니다
        // 커스텀 오버레이는 아래와 같이 사용자가 자유롭게 컨텐츠를 구성하고 이벤트를 제어할 수 있기 때문에
        // 별도의 이벤트 메소드를 제공하지 않습니다
        var content = '<div class="wrap">' +
                    '    <div class="info">' +
                    '        <div class="title">' +
                    '            카카오 스페이스닷원' +
                    '            <div class="close" onclick="closeOverlay()" title="닫기"></div>' +
                    '        </div>' +
                    '        <div class="body">' +
                    '            <div class="img">' +
                    '                <img src="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/thumnail.png" width="73" height="70">' +
                    '           </div>' +
                    '            <div class="desc">' +
                    '                <div class="ellipsis">제주특별자치도 제주시 첨단로 242</div>' +
                    '                <div class="jibun ellipsis">(우) 63309 (지번) 영평동 2181</div>' +
                    '                <div><a href="https://www.kakaocorp.com/main" target="_blank" class="link">홈페이지</a></div>' +
                    '            </div>' +
                    '        </div>' +
                    '    </div>' +
                    '</div>';

        // 마커 위에 커스텀오버레이를 표시합니다
        // 마커를 중심으로 커스텀 오버레이를 표시하기위해 CSS를 이용해 위치를 설정했습니다
        var overlay = new kakao.maps.CustomOverlay({
            content: content,
            map: map,
            position: marker.getPosition()
        });

        // 마커를 클릭했을 때 커스텀 오버레이를 표시합니다
        kakao.maps.event.addListener(marker, 'click', function() {
            overlay.setMap(map);
        });

        // 커스텀 오버레이를 닫기 위해 호출되는 함수입니다
        function closeOverlay() {
            overlay.setMap(null);
        }





        <!--주소로 검색해서 마커-->

        // 주소-좌표 변환 객체를 생성합니다
        var geocoder = new kakao.maps.services.Geocoder();

        // 주소로 좌표를 검색합니다
        geocoder.addressSearch('서울특별시 성동구 연무장 5길 9-13', function(result, status) {

            // 정상적으로 검색이 완료됐으면
             if (status === kakao.maps.services.Status.OK) {

                var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                // 결과값으로 받은 위치를 마커로 표시합니다
                var marker = new kakao.maps.Marker({
                    map: map,
                    position: coords
                });

                // 인포윈도우로 장소에 대한 설명을 표시합니다
                var infowindow = new kakao.maps.InfoWindow({
                    content: '<div style="width:150px;text-align:center;padding:6px 0;">행사이름, 주소, </div>'
                });
                infowindow.open(map, marker);

                // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                map.setCenter(coords);
            }
        });




        <!--마커 여러개 표시하기-->
        // 마커를 표시할 위치와 내용을 가지고 있는 객체 배열입니다
        var positions = [
            {
                content: '<div>카카오</div>',
                latlng: new kakao.maps.LatLng(33.450705, 126.570677)
            },
            {
                content: '<div>생태연못</div>',
                latlng: new kakao.maps.LatLng(33.450936, 126.569477)
            },
            {
                content: '<div>텃밭</div>',
                latlng: new kakao.maps.LatLng(33.450879, 126.569940)
            },
            {
                content: '<div>근린공원</div>',
                latlng: new kakao.maps.LatLng(33.451393, 126.570738)
            }
        ];

        for (var i = 0; i < positions.length; i ++) {
            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                map: map, // 마커를 표시할 지도
                position: positions[i].latlng // 마커의 위치
            });

            // 마커에 표시할 인포윈도우를 생성합니다
            var infowindow = new kakao.maps.InfoWindow({
                content: positions[i].content // 인포윈도우에 표시할 내용
            });

            // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
            // 이벤트 리스너로는 클로저를 만들어 등록합니다
            // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
            kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
            kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
        }

        // 인포윈도우를 표시하는 클로저를 만드는 함수입니다
        function makeOverListener(map, marker, infowindow) {
            return function() {
                infowindow.open(map, marker);
            };
        }

        // 인포윈도우를 닫는 클로저를 만드는 함수입니다
        function makeOutListener(infowindow) {
            return function() {
                infowindow.close();
            };
        }

        /* 아래와 같이도 할 수 있습니다 */
        /*
        for (var i = 0; i < positions.length; i ++) {
            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                map: map, // 마커를 표시할 지도
                position: positions[i].latlng // 마커의 위치
            });

            // 마커에 표시할 인포윈도우를 생성합니다
            var infowindow = new kakao.maps.InfoWindow({
                content: positions[i].content // 인포윈도우에 표시할 내용
            });

            // 마커에 이벤트를 등록하는 함수 만들고 즉시 호출하여 클로저를 만듭니다
            // 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
            (function(marker, infowindow) {
                // 마커에 mouseover 이벤트를 등록하고 마우스 오버 시 인포윈도우를 표시합니다
                kakao.maps.event.addListener(marker, 'mouseover', function() {
                    infowindow.open(map, marker);
                });

                // 마커에 mouseout 이벤트를 등록하고 마우스 아웃 시 인포윈도우를 닫습니다
                kakao.maps.event.addListener(marker, 'mouseout', function() {
                    infowindow.close();
                });
            })(marker, infowindow);
        }
        */











        function locationLoadSuccess(pos){
            // 현재 위치 받아오기
            var currentPos = new kakao.maps.LatLng(pos.coords.latitude, pos.coords.longitude);
            map.setCenter(currentPos);
            map.setLevel(5); // 원하는 확대 레벨로 설정
        };

        function locationLoadError(){
            alert('위치 정보를 가져오는데 실패했습니다.');
        };

        function getCurrentPos(){
              navigator.geolocation.getCurrentPosition(function(pos) {
                locationLoadSuccess(pos);
            }, locationLoadError);
        };

        function changeMapLocation(lat, lng, level) {
            map.setCenter(new kakao.maps.LatLng(lat, lng));
            map.setLevel(level); // 필요한 경우에만 확대 레벨 설정
        }


            // 각 버튼 클릭 시 지도 중심 좌표 변경
        document.getElementById('seongsu').addEventListener('click', function() {
            changeMapLocation(37.54366481430039, 127.05889745872842, 5);
        });

        document.getElementById('jamsil').addEventListener('click', function() {
            changeMapLocation(37.509358600639494, 127.1051299097808, 5);
        });

        document.getElementById('hongdae').addEventListener('click', function() {
            changeMapLocation(37.555849659619895, 126.94824554655163, 5);
        });

        document.getElementById('gangnam').addEventListener('click', function() {
            changeMapLocation(37.49783159114859, 127.0339598307763, 5);
        });

        document.getElementById('seoul').addEventListener('click', function() {
            changeMapLocation(37.53814735887608, 126.99898167513268, 8);
        });

        document.getElementById('around').addEventListener('click', function() {
            changeMapLocation(37.369188031896265, 127.01776935446426, 10);
        });

        document.getElementById('busan').addEventListener('click', function() {
            changeMapLocation(35.137294960653996, 129.1042017597341, 9);
        });

        document.getElementById('mylocation').addEventListener('click', function() {
            getCurrentPos();
        });




        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                crossorigin="anonymous"></script>
    </body>
</html>