/* 페이징 버튼 */
.pagination{
    margin: 30px;
}

.pagination .page-item .page-btn{
    background: none;
    border: none;
    color: var(--default-color);
    font-size: 20px;
    font-weight: 600;
    border-radius: 4px;
}

.pagination .page-item .page-btn:hover{
    color: var(--contrast-color);
    background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
}

.pagination .page-item.active .page-btn,
.pagination .page-item.active .page-btn:hover{
    color: var(--accent-color);
    background: none;
    cursor: default;
}

.pagination .page-item.disabled .page-btn,
.pagination .page-item.disabled .page-btn:hover{
    color: var(--default-color);
    background: none;
    opacity: 0.3;
    cursor: default;
}

/* 후기 관리 페이지 */
.member-search{
    margin-bottom: 20px;
}
.member-search form{
    border: none;
    padding: 0;
}

.member-search form select{
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 70%);
    border-radius: 4px;
    color: var(--default-color);
}

.member-search form input[type=text] {
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 70%);
    padding: 7px 10px;
    margin-left: 10px;
}

.member-search form select:focus,
.member-search form input[type=text]:focus {
    outline: var(--default-color) solid 1px;
}

.member-container .member-image {
    width: 80px;
    height: 80px;
}

.member-image > img {
    width: 80px;
    height: 80px;
}

.member-table .table-title, {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0;
}
.member-table .table-title{
    border-bottom: 1px solid var(--default-color);
}
.member-table .table-row{
    padding: 10px 0;
    border-bottom: 1px solid var(--default-color);
}

.member-table a {
    color: var(--default-color);
    text-decoration: none;
    transition: 0.3s;
}

.member-table a:hover {
    color: var(--accent-color);
    text-decoration: none;
}

.member-table .select{width: 5%; text-align: center;}
.member-table .img_path{width: 10%; text-align: center;}
.member-table .name{width: 10%; text-align: center;}
.member-table .nick{width: 12%; text-align: center;}
.member-table .email{width: 17%; text-align: center;}
.member-table .tel{width: 15%; text-align: center;}
.member-table .reg-date{width: 11%; text-align: center;}
.member-table .cor{width: 10%; text-align: center;}
.member-table .delete{width: 10%; text-align: center;}


.table-row .select{width: 5%; text-align: center;}
.table-row .img_path{width: 10%; text-align: center;}
.table-row .name{width: 10%; text-align: center;}
.table-row .nick{width: 12%; text-align: center;}
.table-row .email{width: 17%; text-align: center;}
.table-row .tel{width: 15%; text-align: center;}
.table-row .reg-date{width: 11%; text-align: center;}
.table-row .d-btn{width: 10%; text-align: center;}
.table-row .c-btn{width: 10%; text-align: center;}