/* 상단 버튼 */
.event-select {
    gap: 10px;
    padding: 15px 0 10px 0;
    flex-wrap: wrap;
    position: sticky;
    top: 95px;
    z-index: 4;
    background: white;
}

.btn-label{
    margin: 0 10px;
    font-weight: bold;
}

/* 카드 리스트 */
.event-list.container{
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem; /* 카드 사이의 간격 */
    justify-content: center; /* 카드들을 가운데 정렬 */
}

/* 별점, 인기 순위 등수 */
.event-rank{
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    width: 40px;
    background: rgb(225, 69, 51, 0.7);
    color: white; /* 텍스트 색상 */
    font-weight: bold; /* 텍스트 두께 */
    text-align: center;
}

/* 카드 */
.card {
    width: 18rem;
    height: 32rem;
    box-shadow: 1px 1px 2px;
    color: var(--default-color);
}
.card img {
    height: 18rem;
    object-fit: cover;
}
.card-body {
   text-align: right;
}

.card .card-btn {
    margin-top: 15px;
}

.card .card-title{
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
}
.card .event-type{
    margin: 14px 0;
    text-align: left;
}
.card .event-type span.reserve{
    border-radius: 40px;
    border: 1px solid rgb(225, 69, 51, 0.8);
    background: rgb(225, 69, 51, 0.8);
    color: white;
    padding: 2px 8px;
    margin-right: 5px;
}
.card .event-type span.wait{
    border-radius: 40px;
    border: 1px solid rgb(42, 46, 68, 0.8);
    background: rgb(42, 46, 68, 0.8);
    color: white;
    padding: 2px 8px;
    margin-right: 5px;
}
.card .card-text{
    font-size: 15px;
    margin-top: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
}