/* header.css */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.search-form {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px; /* 검색창 최대 너비 설정 */
}

.search-form input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 100%; /* 검색창 너비를 부모 요소의 100%로 설정 */
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;
}

.search-form button {
    padding: 10px;
    background-color: #007bff;
    border: none;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.search-form button i {
    font-size: 16px;
}
