 body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
        }

        .login-container {
            width: 500px;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: #fff;
        }

        .login-container h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        .login-container label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        .login-container input[type="text"],
        .login-container input[type="password"] {
            width: calc(100% - 20px);
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .login-container button {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;

            color: #fff;
            font-size: 16px;
            cursor: pointer;
            margin-bottom: 10px;
        }



        .social-login {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
        }

        .social-login button {
            width: 48px;
            height: 48px;
            border: none;
            border-radius: 50%;
            background-size: cover;
            cursor: pointer;
            margin: 0 5px;
        }
        .login{
            background-color: #28a745;
        }
        .kakao-login {
            background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fprosell.oopy.io%2F845a0760-d543-46ae-965d-018c4289eb32&psig=AOvVaw0gSuAqnJuDypZl3AT9_B8u&ust=1718263103117000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCJiEhYHD1YYDFQAAAAAdAAAAABAE');
            background-color: #fee500;
            background-repeat: no-repeat;
            background-position: center;
        }

        .naver-login {
            background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/Naver_Line.png/220px-Naver_Line.png');
            background-color: #03c75a; /* 네이버 배경색 */
            background-repeat: no-repeat;
            background-position: center;
        }

        .extra-options {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
        }

        .extra-options label {
            margin: 0;
            display: flex;
            align-items: center;
        }

        .extra-options input[type="checkbox"] {
            margin-right: 5px;
        }

        .links {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
        }

        .links a {
            color: #007bff;
            text-decoration: none;
            margin: 0 10px;
        }

        .links a:hover {
            text-decoration: underline;
        }