.submenu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 15px 0 20px;
    padding-bottom: 10px;
}
.submenu > a {
    display: block;
    width: 20%;
    text-align: center;
    border-bottom: 1px solid #2c2c2c;
    padding: 10px 0;
    flex: 1 1 auto;
}
.submenu > a.on {
    color: #e14533;
    border-bottom: 2px solid #e14533;
    font-weight: 900;
}
.submenu > a h2 {
    font-size: 16px;
    margin: 0;
    font-weight: 600;
}

/* 내 정보 */
.profile-img-area img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.edit-img-btn input{
    display: none;
}
.profile-text-area {
    display: flex;
    width: 100%;
    margin: 10px auto 50px;
    padding: 0 20px;
    flex-direction: row;
    flex-wrap: wrap;
}
.profile-text-area li {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 0;
}
.profile-text-area li span {
    font-size: 12px;
    color: #999;
    margin-bottom: 4px;
}
.profile-text-area li p {
    width: 100%;
    padding: 5px 0 8px;
    border-bottom: 2px solid #2c2c2c;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.edit-btn {
    border: 1px solid #767676;
    background: none;
    color: #000000;
    font-size: 15px;
    padding: 4px 10px;
    border-radius: 5px;
}
.edit-img-btn, .edit-nick-btn, .edit-birth-btn {
    border: 1px solid #767676;
    background: none;
    color: #000000;
    font-size: 15px;
    padding: 4px 10px;
    margin: 10px 4px;
    border-radius: 5px;
}

/* 관심 내역 */
.interest-category h3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.category-select {
    width: 100%;
    flex-direction: row !important;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
}
.category-select button {
    width: fit-content;
    border: 1px solid #2c2c2c;
    border-radius: 25px;
    background: none;
    color: #000000;
    padding: 8px 15px;
    white-space: nowrap;
    margin: 8px 5px;
    font-size: 13px;
}
.category-select button.picked {
    background: #e14533;
    color: #fff;
    border-color: #e14533;
    font-weight: 700;
}
.interest-btn{
    background: none;
    padding: 5px 10px;
    border: none;
    font-size: 28px;
    font-weight: bolder;
    color: #e14533;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

/* 후기 내역 */
.comment-img {
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin: 0;
}
.comment-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
