/* 중복 확인, 불일치 text */
#check-same-password,
#check-duplicate-nick,
#check-duplicate-email {
    margin-left: 10px;
    margin-bottom: 10px;
}

/* login.html, register.html */
.login-container,
.signup-container {
    margin:0 auto;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.login-container label,
.signup-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-container input[type="text"],
.login-container input[type="password"],
.signup-container input[type="text"],
.signup-container input[type="email"],
.signup-container input[type="password"],
.signup-container input[type="tel"],
.signup-container input[type="date"],
.signup-container input[type="number"],
.signup-container input[type="file"]{
    width: calc(100% - 20px);
    padding: 10px;
    margin: 0 10px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.extra-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.extra-options label {
    margin: 0;
    display: flex;
    align-items: center;
}

.extra-options input[type="checkbox"] {
    margin-right: 5px;
}

.links {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.links a:hover {
    text-decoration: underline;
}

/* login.html */
.login-container button {
    margin-bottom: 10px;
}
.social-login {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.social-login button {
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 50%;
    background-size: cover;
    cursor: pointer;
    margin: 0 5px;
}
.kakao-login {
    background-image: url('/hereevent/images/login/kakaologin_circle.png');
    background-repeat: no-repeat;
    background-position: center;
}

.naver-login {
    background-image: url('/hereevent/images/login/naverlogin_circle.png');
    background-repeat: no-repeat;
    background-position: center;
}
