<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS File -->
    <link href="/hereevent/common/css/detailedPage.css" rel="stylesheet">

    <title>이벤트 대기 페이지</title>

</head>
<body class="blog-details-page">
<main layout:fragment="main" class="main">


</main>

</body>
</html>


