<!DOCTYPE html >
<html lang="UTF-8" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HereEvent Register</title>
    <link href="/hereevent/common/css/register.css" rel="stylesheet">

</head>
<body>
<div class="signup-container">
    <h2>대기 등록</h2>
    <form id="waitForm"  action="/hereevent/wait/insert" method="post">

        <div class="post-img">
            <div th:each="imgPath : ${event.img_path}">
                <img th:src="|@{/download/event/}${imgPath}|" th:alt="${imgPath}" alt="Event Image" />
            </div>
        </div>
        <h2 class="title"><span th:text="${event.name}"></span></h2>
        <input type="hidden" id="event_no" name="event_no" th:value="${event.event_no}">
        <input type="tel" id="wait_tel" name="wait_tel" placeholder="전화번호를 입력하세요">
        <input type="text" id="email" name="email" placeholder="이메일을 입력하세요">
        <div class="extra-options">
            <label>
                <input type="checkbox" name="agree"> 이용약관에 동의합니다.
            </label>
        </div>
        <h3 id="warning">※다른 팝업스토어를 대기 등록을 한 경우 대기 불가※</h3>

        <button type="submit">확인</button>
    </form>
    <div class="links">
        <p th:if="${param.error}" th:text="'오류: ' + ${param.error}"></p>
    </div>
</div>
</body>
<script>
    document.getElementById("waitForm").addEventListener("submit", function(event) {
        var tel = document.getElementById("wait_tel").value.trim();
        var email = document.getElementById("email").value.trim();

        if (tel === "" || email === "") {
                event.preventDefault();
            alert("빈칸이 있습니다. 확인 후 다시 제출해주세요.");
        } else {
            alert("대기에 등록되었습니다.");
        }
    });
</script>
</html>
