<!DOCTYPE html >
<html lang="UTF-8" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HereEvent Register</title>
    <link href="/hereevent/common/css/register.css" rel="stylesheet">
    <style>

    </style>
</head>
<body>
<div class="signup-container">
    <h2>대기 등록</h2>
    <form action="/hereevent/wait/insert/" method="post">

        <div class="post-img">
            <div th:each="imgPath : ${event.img_path}">
                <img th:src="|@{/download/event/}${imgPath}|" th:alt="${imgPath}" alt="Event Image" />
            </div>
        </div>
        <h2 class="title"><span th:text="${event.name}"></span></h2>
        abel for="tel">이벤트명</label>
        <input type="tel" id="event_no" name="tel" placeholder="전화번호를 입력하세요">

        <div class="extra-options">
            <label>
                <input type="checkbox" name="agree"> 이용약관에 동의합니다.
            </label>
        </div>

        <button type="submit">다음</button>
    </form>
    <div class="links">

    </div>
</div>
</body>
</html>
